.bm-post {
    display: flex;
    flex-direction: column;

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-text {
            color: #222;
            font-weight: 500 !important;
            font-size: 100% !important;
            line-height: 1;
            margin-right: 5px;
        }

        &-text > a {
            color: inherit;
            font-weight: inherit;
            font-size: inherit;
            transition: all 0.2s ease;
            text-decoration: none;
        }

        &-text > a:hover {
            color: #ed1c24;
        }
    }

    &__content {
        margin-top: 30px;

        &-img {
            float: left;
            margin-right: 15px;
        }

        &-description {
            font-family: Roboto;
            font-size: 18px;
            color: #888888;
            line-height: 1.66;
            font-weight: 400;
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        &-prev, &-next {
            color: #222222;
            font-size: 18px;
            line-height: 1.66;
            font-weight: 400;
            transition: all 0.2s ease;
            cursor: pointer;
        }

        &-prev:hover, &-next:hover {
            color: #ed1c24;
        }
    }

    &__comments {
        margin-top: 50px;
        border-bottom: 1px solid #e9ebee;
        margin-bottom: 24px;
        padding-bottom: 20px;

        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-number, &-text {
            font-weight: 600;
            line-height: 25px;
            font-size: 20px;
            color: #1c1e21;
        }

        &-select {
            height: 32px;
            line-height: 32px;
            width: 137px;
            border: 1px solid #c2c2c2;
            border-radius: 1px;
            padding-left: 10px;
            box-sizing: border-box;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url(../../../img/shop-sort/bg-selectbox.png) no-repeat right center #fff;
        }

        &-decr {
            color: #4b4f56;
            line-height: 25px;
            font-size: 20px;
        }

        &-chat > textarea {
            display: block;
            font-size: 16px;
            padding: 12px 8px;
            min-height: 40px;
            border: 1px solid #d3d6db;
            word-wrap: break-word;
            width: 90%;
            resize:vertical;
        }

        &-img {
            float: left;
            margin-right: 20px;
        }

        &-chat {
            border-bottom: 1px solid #e9ebee;
            margin-bottom: 60px;
            padding-bottom: 30px;
            box-sizing: border-box;
        }

    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-post__comments-chat > textarea {
        width: 75%;
    }
}

@media (min-width: 1023px) and (max-width: 1440px) {
    .bm-post__comments-chat > textarea {
        width: 88%;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .bm-post__comments-chat > textarea {
        width: 87%;
    }
}