.bm-banner {
    position: relative;
    // overflow: hidden;

    // &__slider {

    // }

    &__slide {
        width: 100%;

        &-link {
            display: block;
        }

        &-img {
            width: 100%;
        }
    }

    &__button-prev, &__button-next {
        display: block;
        position: absolute;
        top: calc(50% - 32px);
        width: 64px !important;
        height: 64px !important;
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        border-radius: 50%;
        transition: all 0.2s ease;
    }

    &__button-prev:hover, &__button-next:hover {
        background-color: #ed1c24;
    }
}

.bm-banner__button-prev.swiper-button-prev::after {
    font-size: 30px !important;
    color: white;
}

.bm-banner__button-next.swiper-button-next::after {
    font-size: 30px !important;
    color: white;
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-banner__button-prev.swiper-button-prev {
        display: none;
    }
    .bm-banner__button-next.swiper-button-next {
        display: none;
    }
}