.bm-blog-preview {
    padding: 60px 0;
    background: url('../../../img/blog-preview/bg-post.jpg') no-repeat top center;
    box-sizing: border-box;

    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

        &-row {
            display: flex;
            align-items: center;
            flex-direction: row;
        }
    }

    &__image {
        width: 390px;
        height: 280px;
        position: relative;

    }

    &__image > a {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__image > a > img {
        width: 100%;
        height: 100%;
        transition: all 0.2s ease;
    }

    &__image > a > img:hover {
        opacity: .8;
    }

    &__date {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 10px;
        left: 10px;
        width: 60px;
        height: 60px;

        &-day {
            display: inline-block;
            font-size: 24px;
            line-height: 1;
            font-weight: 700;
            color: white;
        }

        &-month {
            display: inline-block;
            font-size: 13px;
            line-height: 1;
            font-weight: 400;
            color: white;
        }
    }

    &__description {
        width: 390px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #171716;
        box-sizing: border-box;
        padding: 0px 50px;
    }

    &__title {
        margin: 0px 0px 10px 0px;
    }

    &__title > a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 1.80px;
    }

    &__title > a:hover {
        color: #ed1c24;
    }

    &__categories {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__categories > img {
        margin-right: 7px;
        margin-bottom: 5px;
    }

    &__categories > span {
        margin-right: 3px;
        color: #888888;
        font-weight: 500;
        font-size: 13px;
    }

    &__categories > span > a {
        font-size: 13px;
        color: #888888;
        line-height: 1.66;
        font-weight: 400;
        text-decoration: none;
    }

    &__categories > span > a:hover {
        color: white;
    }

    &__text {
        margin: 0px 0px 10px 0px;
        color: white;
        font-size: 13px;
        line-height: 1.66;
        font-weight: 400;
        text-align: center;
    }

    &__link-read {
        display: inline-block;
        text-decoration: none;
        color: #ed1c24;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 1.66;
        font-weight: 400;
    }
}

@media (min-width: 1023px) and (max-width: 1439px) {
    .bm-blog-preview__image {
        width: 320px;
        height: 252px;
    }

    .bm-blog-preview__description {
        width: 320px;
        height: 252px;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .bm-blog-preview__image {
        width: 250px;
    }

    .bm-blog-preview__description {
        width: 250px;
    }

    .bm-blog-preview__title > a {
        font-size: 13px;
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-blog-preview {
        background: none;
    }

    .bm-blog-preview__image {
        width: 320px;
    }

    .bm-blog-preview__description {
        width: 320px;
    }

    .bm-blog-preview__wrapper-row {
        flex-direction: column;
    }
}