.bm-category-list {
    margin-bottom: 50px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__item {

        &-title {
            text-transform: uppercase;
            font-weight: 700;
            color: #222;
            font-size: 20px; 
            margin: 0px 0px 20px 0px;
            line-height: 1.66;
        }

        &-cart {
            display: flex;

        }
    }
}

.bm-category__item-cart_img {
    width: 90px;
    height: 90px;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-bottom: 15px;
}

.bm-category__item-cart_img:hover {
    border-color: #ed1c24;
}

.bm-category__item-cart_img > a {
    display: block;
    width: 100%;
    height: 100%;
}

.bm-category__item-cart_img > a > img {
    width: 100%;
    height: 100%;
}

.bm-category__item-cart_description {
    display: flex;
    flex-direction: column;
}

.bm-category__item-cart_title {
    color: #222222;
    text-decoration: none;
    line-height: 1.66;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 5px;
}

.bm-category__item-cart_title:hover {
    color: #ed1c24;
}

.bm-category__item-cart_price {
    color: #e74c3c;
    font-size: 18px;
    line-height: 1.66;
    font-weight: 400;
} 

@media (min-width: 767px) and (max-width: 1023px) {
    .bm-category-list__wrapper {
        flex-wrap: wrap;
    }

}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-category-list__wrapper {
        flex-wrap: wrap;
    }
}