.bm-client-say {
    background: url("../../../img/client-say/bg-clients.jpg") no-repeat top center;
    padding: 70px 0;

    &__wrapper {
        background-color: rgba(0, 0, 0, 0.6);
        padding-top: 50px !important;
        padding-bottom: 20px !important;
    }

    &__slide {

        &-title {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 22px;
            line-height: 1.66;
            margin: 0px 0px 20px 0px;
        }

        &-description {
            font-size: 15px;
            line-height: 2;
            margin-bottom: 25px;
            opacity: .7;
            color: #fff;
            text-align: center;
            color: #fff;
            text-align: center;
        }

        &-name {
            font-size: 20px;
            margin: 0;
            color: #fff;
            text-align: center;
            line-height: 1.66;
            font-weight: 400;
        }

        &-job {
            opacity: .7;
            color: #fff;
            text-align: center;
            font-size: 13px;
            line-height: 1.66;
            margin-bottom: 50px;
            margin-top: 0;
        }
    }
}

.bm-client-say__pagination {
    margin-bottom: 30px;
}

.bm-client-say__pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #ed1c24 !important;
}


.bm-client-say__pagination > .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background: #999 !important;
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-client-say {
        padding-bottom: 35px;
    }
}