.bm-company-label {

    position: relative;
    margin-bottom: 50px;

    &__wrapper{
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        position: static !important;
        
    }

    &__slider {
        padding: 25px 0px;
    }

    &__slide {
        width: 160px !important;
        height: 90px !important;
    }

    &__slide:hover > a > img {
        opacity: 1;
    }

    &__slide > a > img {
        opacity: 0.4;
    }

    &__button-prev, &__button-next {
        width: 46px !important;
        height: 46px !important;
        background-color: #e5e5e5;
        border-radius: 50%;
    }

    &__button-prev {
        left: 110px !important;
    }

    &__button-next {
        right: 110px !important;
    }

    &__button-prev:hover, &__button-next:hover {
        background-color: #ed1c24;
    }
}

.bm-company-label__button-prev.swiper-button-prev::after {
    color: #ffffff;
    font-size: 15px;
}

.bm-company-label__button-next.swiper-button-next::after {
    color: #ffffff;
    font-size: 15px;
}

@media (min-width: 1023px) and (max-width: 1439px) {

.bm-company-label__button-next {
    right: 8px !important;
}
.bm-company-label__button-prev {
    left: 8px !important;
}
}

@media (min-width: 767px) and (max-width: 1023px) {
    .bm-company-label__button-prev.swiper-button-prev {
        display: none;
    }
    
    .bm-company-label__button-next.swiper-button-next {
        display: none;
    }
}

@media (min-width: 319px) and (max-width: 767px) {

    .bm-company-label__button-prev.swiper-button-prev {
        display: none !important;
    }

    .bm-company-label__button-next.swiper-button-next {
        display: none !important;
    }

    .bm-category-list__wrapper {
        flex-wrap: wrap;
    }

    .bm-category-list__item {
        margin: 0 auto;
    }
}