.bm-featured {
    // position: relative;
    margin-bottom: 60px;

    &__wrapper {
        position: relative !important;
    }

    // &__wrapper:hover > .bm-featured__button-prev {
    //     display: flex !important;
    // }

    // &__wrapper:hover > .bm-featured__button-next {
    //     display: flex !important;
    // }

    &__slider {

    }

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button-prev, &__button-next {
        cursor: pointer;
        width: 46px !important;
        height: 46px !important;
        background-color: #e5e5e5;
        border-radius: 50%;
        top: 40% !important;
        // display: none !important;
    }

    &__button-prev {
        left: 0 !important;
    }

    &__button-next {
        right: 0 !important;
    }

    &__button-prev:hover, &__button-next:hover {
        background-color: #ed1c24;
    }
}

.bm-featured__button-prev.swiper-button-prev::after {
    color: white !important;
    font-size: 15px;
}

.bm-featured__button-next.swiper-button-next::after {
    color: white !important;
    font-size: 15px;
}

@media (min-width: 767px) and (max-width: 1023px) {
    .bm-featured__button-prev {
        left: 6px !important;
        top: 58% !important;
    }

    .bm-featured__button-next {
        right: 6px !important;
        top: 58% !important;
    }

    .bm-featured__button-prev, .bm-featured__button-next {
        display: flex !important;
    }
}

@media (min-width: 319px) and (max-width: 767px) {

    .bm-featured__wrapper:hover > .bm-featured__button-next {
        display: none !important;
    }

    .bm-featured__wrapper:hover > .bm-featured__button-prev {
        display: none !important;
    }

}