.bm-preview-product {
    background-color: rgb(250, 250, 250);
    position: relative;
    
    &__wrapper {
        display: flex;
        width: 54%;
        transform: translateY(-100px);
    }

    &__top-slider {
        width: 54% !important;
    }

    &__top-slide {
        width: 443px !important;
        height: 443px !important;
        border: 1px solid rgb(229, 229, 229);
        padding-left: 182px;
        padding-right: 0px;
        position: relative;
        background-color: #ffffff;
    }

    &__top-time {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 3%;
        top: 6%;
    }

    &__top-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

    }

    &__top-description {
        width: 46%;
        box-sizing: border-box;
        padding-left: 40px;
        transform: translateY(-100px);
    }

    &__top-description > h2 {
        margin: 35px 0px 80px 0px;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__top-description > h3 {
        margin: 0px;
    }

    &__top-description > h3 > a {
        text-decoration: none;
        font-size: 20px;
        color: rgb(34, 34, 34);
    }

    &__top-description > h3 > a:hover {
        color: rgb(237, 28, 36);
    }

    &__top-description > p {
        font-size: 13px;
        color: rgb(136, 136, 136);
        line-height: 1.66;
        font-weight: 400;    
    }

    &__top-price {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 30px;

        &_price {
            display: block;
            color: #e74c3c;
            font-size: 22px;
            line-height: 1.66;
            font-weight: 400;
            margin-right: 15px;
        }

        &_old-price {
            display: block;
            font-size: 15px;
            color: #999;
            text-decoration: line-through;
            line-height: 1.66;
            font-weight: 400;
        }
    }

    &__top-buttons {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 50px;

        &_btn {
            background-color: #ed1c24;
            border: none !important;
            color: #fff;
            padding: 0 30px !important;
            height: 40px;
            cursor: pointer;
            line-height: 35px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 15px;
            border-radius: 30px;
            transition: all 0.2s ease;
        }

        &_btn:hover {
            background-color: #c61017;
        }

        &_actions {
            margin-left: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &_add {
            display: flex;
            margin: 0 2px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease;
        }

        &_add:hover {
            background-color: #ed1c24;
            border-color: #ed1c24;
        }

        &_refresh {
            display: flex;
            margin: 0 2px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease;
        }

        &_refresh:hover {
            background-color: #ed1c24;
            border-color: #ed1c24;
        }

        &_search {
            display: flex;
            margin: 0 2px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease;
        }

        &_search:hover {
            background-color: #ed1c24;
            border-color: #ed1c24;
        }
    }

    &__bottom-wrapper {
        transform: translateY(-50px);
    }   

    &__bottom-slide {
        display: block;
        border: 1px solid #e5e5e5;
        width: 210px !important;
        height: 210px !important;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    &__bottom-slide:hover {
        border-color: rgb(237, 28, 36);
    }

    &__button-prev, &__button-next {
        width: 46px !important;
        height: 46px !important;
        background-color: #e5e5e5;
        border-radius: 50%;
        position: absolute !important;
        top: 78% !important;
    }

    &__button-prev:hover, &__button-next:hover {
        background-color: #ed1c24;
    }
}

.bm-preview-product__top-day {
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(229, 229, 229);
    margin-bottom: 10px;

    &_number {
        font-size: 20px;
        color: rgb(237, 28, 36);
        font-weight: 700;
        display: block;
        margin-bottom: 3px;
    }

    &_text {
        font-size: 13px;
        font-weight: 400;
        display: block;
        color: rgb(136, 136, 136);
        line-height: 1.66;
    }
}

.bm-preview-product__top-hours {
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(229, 229, 229);
    margin-bottom: 10px;

    &_number {
        font-size: 20px;
        color: rgb(237, 28, 36);
        font-weight: 700;
        display: block;
        margin-bottom: 3px;
    }

    &_text {
        font-size: 13px;
        font-weight: 400;
        display: block;
        color: rgb(136, 136, 136);
        line-height: 1.66;
    }
}

.bm-preview-product__top-minuts {
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(229, 229, 229);
    margin-bottom: 10px;

    &_number {
        font-size: 20px;
        color: rgb(237, 28, 36);
        font-weight: 700;
        display: block;
        margin-bottom: 3px;
    }

    &_text {
        font-size: 13px;
        font-weight: 400;
        display: block;
        color: rgb(136, 136, 136);
        line-height: 1.66;
    }
}

.bm-preview-product__top-seconds {
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(229, 229, 229);
    margin-bottom: 10px;

    &_number {
        font-size: 20px;
        color: rgb(237, 28, 36);
        font-weight: 700;
        display: block;
        margin-bottom: 3px;
    }

    &_text {
        font-size: 13px;
        font-weight: 400;
        display: block;
        color: rgb(136, 136, 136);
        line-height: 1.66;
    }
}

.bm-previews-product__top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 25%;
    width: 70%;
}

.bm-previews-product__top-info_new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(28, 196, 143);
    border-radius: 50%;
    // position: absolute;
    // top: 5%;
    // left: 23%;

    &-text {
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
    }
}

.bm-preview-product__top-info_stocks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(237, 28, 36);
    border-radius: 50%;
    // position: absolute;
    // top: 5%;
    // right: 7%;

    &-text {
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
    }
}

.bm-preview-product__button-prev.swiper-button-prev::after {
    font-size: 15px !important;
}

.bm-preview-product__button-next.swiper-button-next::after {
    font-size: 15px !important;
}

@media (min-width: 1023px) and (max-width: 1439px) {
    .bm-preview-product__top-slide {
        width: 340px !important;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .bm-preview-product__top-slide {
        width: 100% !important;
    }

    .bm-preview-product__top-slider {
        width: 54% !important;
    }

    .bm-preview-product__wrapper {
        width: 70% !important;
    }

    .bm-preview-product__top-time {
        display: none;
    }

    .bm-previews-product__top-info {
        display: none;
    }

    .bm-preview-product__top-description > h2 {
        margin: 19px 0px 53px 0px;
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-preview-product {
        display: none;
    }
}