.bm-price {
    border-top: 1px solid #eaeaea;
    position: relative;

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 700;
        color: #222;
        font-size: 24px;
        margin: 0;
        line-height: 1.66;
    }

    &__text {
        margin: 5px 0 40px 0;
        text-align: center;
        font-size: 13px;
        color: #888888;
        line-height: 1.66;
        font-weight: 400;
    }

    &__slider {
        position: static !important;

        &-wrapper {

        }
    }

    &__slide {
        position: relative;
        width: 370px;
        margin-bottom: 50px;
        cursor: pointer;

        &-stocks {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0 20px;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            font-size: 20px;
            font-weight: 700;
        }

        &-text {

        }

        &-stock {

        }

        &__button-prev {
            position: absolute;
            left: -20px;
        }
    }

    &__slide > img {
        width: 100%;
    }
}

.bm-price__slide-stocks:hover > .bm-price__slide-stock {
    color: #ed1c24;
}

.bm-price__slide > img {
    transition: all 0.2s ease;
}

.bm-price__slide > img:hover {
    opacity: 0.8;
}

.bm-price__button-prev {
    position: absolute !important;
    top: 60% !important;
    left: 5% !important;
    width: 46px !important;
    height: 46px !important;
    background-color: #e5e5e5;
    color: #fff;
    border-radius: 50%;
}

.bm-price__button-next {
    position: absolute !important;
    top: 60% !important;
    right: 5% !important;
    width: 46px !important;
    height: 46px !important;
    background-color: #e5e5e5;
    color: #fff;
    border-radius: 50%;
}

.bm-price__button-prev.swiper-button-prev:after {
    font-size: 20px !important;
    color: white;
}

.bm-price__button-next.swiper-button-next:after {
    font-size: 20px !important;
    color: white;
}

.bm-price__button-prev:hover, .bm-price__button-next:hover {
    background-color: #ed1c24;
}

@media (min-width: 767px) and (max-width: 1023px) {
    .bm-price__slide-text {
        font-size: 14px;
    }

    .bm-price__slide-stock {
        font-size: 14px;
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-price__button-prev.swiper-button-prev {
        display: none;
    }
    .bm-price__button-next.swiper-button-next {
        display: none;
    }
}
