.bm-slider-category {
    position: relative;
    // overflow: hidden;
    width: 100%;
    margin: 30px 0;

    &__wrapper {
        position: relative !important;
        width: 100% !important;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-right: 115px !important;
    }

    &__cart {
        transition: all 0.5s ease;
        opacity: 1;
    }

    &__cart:hover {
        opacity: .8;
    }

    &_cart > a {
        display: block;
    }

    &__text {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 0;
    }

    &__text > a {
        display: block;
    }

    &__text:hover > a {
        color: #ed1c24;
    }

    &__text > a {
        display: inline-block;
        color: #222222;
        line-height: 1.66;
    }

    &__button-prev, &__button-next {
        position: absolute;
        top: 40% !important;
    }

    &__button-prev {
        top: 42% !important;
        left: 30px !important;
    }

    &__button-next {
        right: 30px !important;
    }
}

.bm-slider-category__button-prev.swiper-button-prev::after {
    display: none;
    color: #000;
    font-weight: 900;
}

.bm-slider-category__button-next.swiper-button-next::after {
    display: none;
    color: #000;
    font-weight: 900;
}

.bm-slider-category:hover > .bm-slider-category__button-prev.swiper-button-prev::after {
    display: block;
}

.bm-slider-category:hover > .bm-slider-category__button-next.swiper-button-next::after {
    display: block;
}

.bm-slider-category__cart > a > img {
    width: 100%;
}

.bm-slider-category__button-prev.swiper-button-prev::after {
    font-size: 30px !important;
}

.bm-slider-category__button-next.swiper-button-next::after {
    font-size: 30px !important;
}

@media (min-width: 1023px) and (max-width: 1439px) {
    .bm-slider-category {
        width: 97%;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .bm-slider-category__button-prev.swiper-button-prev::after {
        display: block !important;
    }

    .bm-slider-category__button-next.swiper-button-next::after {
        display: block !important;
    }
}
