.bm-tab-cart {
    position: relative;

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        color: #222;
        font-size: 22px;
        line-height: 1.66;
        margin-top: 0;
        margin-bottom: 25px;
    }

    &__header-tab {
        display: flex;
        align-items: center;
        justify-content: center;

        &_title {
            margin: 0 3px;
            border-radius: 3px;
        }
        &_title > a {
            box-sizing: border-box;
            display: block;
            padding: 4px 15px;
            font-size: 13px;
            color: #888888;
            line-height: 1.66;
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: none;
        }

        &_title:hover > a {
            background-color: #000;
            color: #fff;
            border-radius: 3px;
        }
    }

    &__slider {
        margin-bottom: 180px;

        &-wrapper{

        }

        &-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__box-img {
        position: relative;

        &_hover {
            display: flex;
            display: none;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__box-img > a {
        display: block;
    }

    &__box-img > a > img {
        width: 318px;
        height: 318px;
    }

    &__box-like {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        overflow: visible;
        margin: 0 2px;
        vertical-align: top;
        line-height: 42px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        margin-right: 5px;
        // position: absolute;
        // top: calc(50% - 21px);
    }

    &__box-like {
        transition: all 0.2s ease;
    }

    &__box-like:hover {
        background-color: #ed1c24;
    }

    &__box-label {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_title {
            margin: 0 0 10px 0;
        }

        &_title > a {
            color: #222222;
            text-decoration: none;
            font-size: 17px;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 1.25px;
        }

        &_price {
            margin: 0 0 10px 0;
            color: #e74c3c;
            font-size: 17px;
            line-height: 1.66;
            font-weight: 400;
        }
    }

    &_-add-cart {

    }

    &__add-button {
        height: 40px;
        border: 1px solid #e5e5e5 !important;
        padding: 0 26px !important;
        line-height: 38px;
        background: none;
        color: #444 !important;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 400;
        border-radius: 20px;
    }

    &__add-button:hover {
        background-color: #c61017;
        border-color: #c61017 !important;
        color: white !important;
    }

    &__button-prev, &__button-next {
        width: 46px !important;
        height: 46px !important;
        background-color: #e5e5e5;
        border-radius: 50%;
    }

    &__button-prev:hover, &__button-next:hover {
        background-color: #ed1c24;
    }
}


.bm-tab-cart__select {
    display: none;
}
.bm-tab-cart__box-img:hover > .bm-tab-cart__box-img_hover {
    display: inline-flex;
}

.bm-tab-cart__box-img {
    transition: all 0.2s ease;
}

.bm-tab-cart__box-img:hover > a > img {
    opacity: .2;
}

.bm-tab-cart__button-prev.swiper-button-prev::after {
    font-size: 20px !important;
    color: #ffffff !important;
}

.bm-tab-cart__button-next.swiper-button-next::after {
    font-size: 20px !important;
    color: #ffffff !important;
}

.bm-tab-cart__content-tab_item {
    display: none;
}

.bm-tab-cart__content-tab_item.bm-tab-cart__active {
    display: block;
}

.bm-tab-cart__header-tab_title > a.bm-tab-cart__active {
    background-color: #000;
    color: #fff;
    border-radius: 3px;
}


@media (min-width: 767px) and (max-width: 1023px) {
    .bm-tab-cart__box-img:hover > .bm-tab-cart__box-img_hover {
        display: none;
    }

    .bm-tab-cart__box-img:hover > a > img {
        opacity: 1;
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-tab-cart__select {
        display: block;
        position: relative;
        padding: 0 23px 0 10px;
        background: #fff;
        border: 1px solid #ddd;
        cursor: pointer;
        outline: none;
        height: 27px;
        line-height: 27px;
        width: 80%;
        margin: 0 auto;
        font-size: 13px;
        color: #888888;
        font-weight: 700;
    }

    .bm-tab-cart__slider {
        margin-bottom: 0px;
    }

    .bm-tab-cart__select::before {
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        position: absolute;
        top: 7px;
        right: 10px;
        background: url('../../../img/svg/tab-category/down-arrow.svg') no-repeat center;

    }

    .active-tab.bm-tab-cart__select::before {
          transform: rotate(180deg);  
    }

    .bm-tab-cart__header-tab {
        flex-direction: column;
        background: #fff;
        border: 1px solid rgba(0,0,0,.17);
        box-shadow: 0 0 5px rgba(0,0,0,.1);
        position: absolute;
        z-index: 5;
        right: 25px;
        top: 102px;
        display: none;
    }

    .bm-tab-cart__header-tab_title {
        width: 100%;   
    }

    .bm-tab-cart__header-tab_title > a {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0px;
        border-radius: 0px;
    }

    .bm-tab-cart__header-tab_title > a.bm-tab-cart__active {
        background-color: #f5f5f5 !important;
        color: black !important;
    }

    .bm-tab-cart__header-tab_title {
        margin: 0px 0px;
    }

    .bm-tab-cart__box-img:hover > a > img {
        opacity: 1;
    }

    .bm-tab-cart__box-img:hover > .bm-tab-cart__box-img_hover {
        display: none;
    }
}