.bm-blog-categories {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &__title {
        font-size: 20px;
        color: #222;
        font-weight: 400;
        line-height: 1.66;
        margin-bottom: 5px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__item {
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        background-color: #fafafa;
        cursor: pointer;
        transition: all 0.2s ease;
        border-bottom: none; 
    }

    &__item:last-child {
        border-bottom: 1px solid #e5e5e5;
    }

    &__item:hover {
        background-color: #fff;
    }

    &__item > a {
        padding: 10px;
        display: block;
        text-decoration: none;
        color: #222222;
        font-size: 13px;
        line-height: 1.66;
        font-weight: 400;
        transition: all 0.2s ease;
    }

    &__item > a:hover {
        color: #ed1c24;
    }
}