.bm-publication {

    &-item {
        display: flex;
        margin-bottom: 30px;

        &__img {
            width: 189%;
            overflow: hidden;
            position: relative;
            border: 1px solid #ddd;
            padding: 5px;
            height: 300px;
        }

        &__img > a {
            display: block;
            text-decoration: none;
            width: 100%;
            height: 100%;
        }

        &__img > a > img {
            width: 100%;
            height: 100%;
        }

        &__date {
            position: absolute;
            left: 17px;
            top: 17px;
            line-height: 1.6em;
            background: #fff;
            padding: 15px 13px 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-sizing: border-box;
        }

        &__date > span {
            display: inline-block;
        }

        &__day {
            color: #ed1c24;
            font-size: 20px;
            margin-bottom: 3px;
            line-height: 1.6em;
            font-weight: 400;
        }

        &__month {
            line-height: 1.6em;
            font-size: 13px;
            color: #888888;
            font-weight: 400;
        }

        &__description {
            box-sizing: border-box;
            padding-left: 30px;

            &-title {
                margin-top: 0px;
            }

            &-title > a {
                display: block;
                text-decoration: none;
                color: #222222;
                font-size: 22px;
                font-weight: 400;
                line-height: 2;
                transition: all 0.2s ease;
            }

            &-title > a:hover {
                color: #ed1c24;
            }

            &-text {
                font-size: 13px;
                color: #888888;
                line-height: 1.66;
                font-weight: 400;
            }

            &-more {
                text-align: right;
                margin-bottom: 15px;
            }

            &-more > a {
                font-size: 13px;
                line-height: 1.66;
                font-weight: 400;
                color: #222222;
                position: relative;
            }

            &-more > a:hover {
                color: #ed1c24;
            }

            &-more > a::after {
                margin-left: 2px;
                content: '\f101';
                display: inline-block;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                text-align: center;
                font-size: 12px;
                transition: all 0.2s ease;
                position: absolute;
                top: 2.6px;
            }

            &-more > a:hover::after {
                transform: translateX(5px);
            }
        }

        &__share {
            border-top: 1px solid #ddd;
            padding-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-text {
                font-size: 13px;
                color: #888888;
                line-height: 1.66;
                font-weight: 400;
            }

            &-social {
                display: flex;
                align-items: center;
            }

            &-social > a {
                display: block;
                text-decoration: none;
                width: 20px;
                height: 20px;
                margin-right: 3px;
            }
        }
    }
}

.bm-publication-item__share-facebook {
    background: url("../../../img/blog/facebook.jpg") no-repeat center;
    background-size: contain;
}

.bm-publication-item__share-twitter {
    background: url("../../../img/blog/twitter.jpg") no-repeat center;
    background-size: contain;
}

.bm-publication-item__share-mail {
    background: url("../../../img/blog/mail.jpg") no-repeat center;
    background-size: contain;
}

.bm-publication-item__share-more {
    background: url("../../../img/blog/more.jpg") no-repeat center;
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-publication-item {
        flex-direction: column;
    }

    .bm-publication-item__img {
        width: 95%;
    }

    .bm-publication-item__description-more {
        width: 95%;
    }
}