.bm-blog-search {
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 30px;

    &__form {
        display: flex;
        position: relative;
    }

    &__input {
        border: 1px solid #e5e5e5;
        outline: none;
        line-height: 1.66;
        background-color: #fff;
        border-radius: 1px;
        padding: 0 9px;
        box-sizing: border-box;
    }

    &__btn {
        width: 36px;
        height: 28px;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        line-height: 36px;
        background: 0 0;
        border: none;
        // position: relative;
        outline: none;
    }

    &__btn::before {
        content: '\f002';
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        position: absolute;
        top: 20%;
        right: 20%;
        font-size: 14px;
        color: #333;
    }
}

@media (min-width: 319px) and (max-width: 1024px) {
    .bm-blog-search__input {
        width: 100%;
    }
}