.bm-blog-title {
    font-size: 24px;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.25em;
    position: relative;
    margin-bottom: 30px;
    margin-top: 32px;
}

.bm-blog-title::before {
    content: "";
    width: 70px;
    height: 3px;
    display: inline-block;
    position: absolute;
    bottom: -8px;
    left: 0;
    background-color: #ed1c24;
}