div.bm-shop-sort
    div.bm-shop-sort__panel
        div.bm-shop-sort__panel-row.bm-active-sort
        div.bm-shop-sort__panel-column
    p.bm-shop-sort__info
        span.bm-shop-sort__text Items
        span.bm-shop-sort__start-count 1
        span.bm-shop-sort__text - 
        span.bm-shop-sort__finish-count 9
        span.bm-shop-sort__text of
        span.bm-shop-sort__total-count 17
    div.bm-shop-sort__count-sort
        label(for="limiter").bm-shop-sort__info Show
        select(name="limiter").bm-shop-sort__select-count
            option(value="9") 9
            option(value="15") 15
            option(value="30") 30
        span.bm-shop-sort__info per page
    div.bm-shop-sort__type-sort
        label(for="sorter").bm-shop-sort__info Sort By
        select(name="sorter").bm-shop-sort__select-type
            option(value="Position") Position
            option(value="name") Product Name
            option(value="price") Price
            option(value="manufacturer") Manufacturer
        a(href="#").bm-shop-sort__arrow.bm-active-sort


