div.bm-color-picker
    p.bm-color-picker__title Color
    div.bm-color-picker__select
        a(href="#").bm-select__blue
        a(href="#").bm-select__white
        a(href="#").bm-select__brown
        a(href="#").bm-select__black