div.container
    include bred.pug
    div.flex.bm-mobile-flex-shop
        div.bm-left-content
            include nowShopping.pug
            include colorPicker.pug
            include manufacturer.pug
            include priceSlider.pug
        div.bm-right-content
            include shopTitle.pug
            include blockSort.pug
            include product.pug
            include pagination.pug
