div.bm-manufacturer
    p.bm-manufacturer__title Manufacturer
    ul.bm-manufacturer__select
        li.bm-manufacturer__select-item
            a(href="#").bm-manufacturer__select-link
                span.bm-manufacturer__select-name Collins & Hayes  
                span.bm-manufacturer__select-count 2
        li.bm-manufacturer__select-item
            a(href="#").bm-manufacturer__select-link
                span.bm-manufacturer__select-name Duresta  
                span.bm-manufacturer__select-count 2
        li.bm-manufacturer__select-item
            a(href="#").bm-manufacturer__select-link
                span.bm-manufacturer__select-name Ercol 
                span.bm-manufacturer__select-count 1
        li.bm-manufacturer__select-item
            a(href="#").bm-manufacturer__select-link
                span.bm-manufacturer__select-name G Plan
                span.bm-manufacturer__select-count 3
        li.bm-manufacturer__select-item
            a(href="#").bm-manufacturer__select-link
                span.bm-manufacturer__select-name Parker Knoll
                span.bm-manufacturer__select-count 2
        li.bm-manufacturer__select-item
            a(href="#").bm-manufacturer__select-link
                span.bm-manufacturer__select-name Consequat mel
                span.bm-manufacturer__select-count 3
        li.bm-manufacturer__select-item
            a(href="#").bm-manufacturer__select-link
                span.bm-manufacturer__select-name Epicuri petentium
                span.bm-manufacturer__select-count 3
        