div.bm-now-shopping
    p.bm-now-shopping__title Now Shopping by
    div.bm-now-shopping__filter
        div.bm-now-shopping__filter-category
            span.bm-now-shopping__filter-label Manufacturer: 
            span.bm-now-shopping__filter-value Collins & Hayes
            a(href="#").bm-now-shopping__filter-close
        div.bm-now-shopping__filter-clear
            a(href="#") Clear All

