div.bm-pagination
    div.bm-shop-sort__panel
        div.bm-shop-sort__panel-row.bm-active-sort
        div.bm-shop-sort__panel-column
    p.bm-shop-sort__info
        span.bm-shop-sort__text Items
        span.bm-shop-sort__start-count 1
        span.bm-shop-sort__text - 
        span.bm-shop-sort__finish-count 9
        span.bm-shop-sort__text of
        span.bm-shop-sort__total-count 17
    div.bm-pagination__panel
        div.bm-pagination__list.bm-prev-pagination
        div.bm-pagination__list.bm-active-sort 1
        div.bm-pagination__list 2
        div.bm-pagination__list.bm-next-pagination