div.bm-price-slider
    p.bm-price-slider__title Price
    div.bm-price-slider__wrapper
        div(id="slider-range")
        p.bm-price-slider__cost
            span $
            input(type="text" id="minCost" value="0")
            span  - 
            span $
            input(type="text" id="maxCost" value="500")