div.bm-product-list
    div.bm-product-list__cart
        div.bm-tab-cart__box-img
            a(href="#")
                img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                div.bm-tab-cart__box-img_hover
                    a(href="#").bm-tab-cart__box-like
                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                    a(href="#").bm-tab-cart__box-like
                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                    a(href="#").bm-tab-cart__box-like
                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
        div.bm-tab-cart__box-label
            p.bm-tab-cart__box-label_title
                a(href="#") Best Choice Products Furniture
            p.bm-tab-cart__box-label_price $320.00
            form.bm-tab-cart__add-cart(action="#")
                button.bm-tab-cart__add-button Add to cart
    div.bm-product-list__cart
        div.bm-tab-cart__box-img
            a(href="#")
                img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                div.bm-tab-cart__box-img_hover
                    a(href="#").bm-tab-cart__box-like
                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                    a(href="#").bm-tab-cart__box-like
                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                    a(href="#").bm-tab-cart__box-like
                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
        div.bm-tab-cart__box-label
            p.bm-tab-cart__box-label_title
                a(href="#") Best Choice Products Furniture
            p.bm-tab-cart__box-label_price $320.00
            form.bm-tab-cart__add-cart(action="#")
                button.bm-tab-cart__add-button Add to cart
    div.bm-product-list__cart
        div.bm-tab-cart__box-img
            a(href="#")
                img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                div.bm-tab-cart__box-img_hover
                    a(href="#").bm-tab-cart__box-like
                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                    a(href="#").bm-tab-cart__box-like
                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                    a(href="#").bm-tab-cart__box-like
                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
        div.bm-tab-cart__box-label
            p.bm-tab-cart__box-label_title
                a(href="#") Best Choice Products Furniture
            p.bm-tab-cart__box-label_price $320.00
            form.bm-tab-cart__add-cart(action="#")
                button.bm-tab-cart__add-button Add to cart
    div.bm-product-list__cart-list
        div.bm-tab-cart__box-img
            a(href="#")
                img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                div.bm-tab-cart__box-img_hover
                    a(href="#").bm-tab-cart__box-like
                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                    a(href="#").bm-tab-cart__box-like
                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                    a(href="#").bm-tab-cart__box-like
                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
        div.bm-tab-cart__description
            p.bm-tab-cart__description-title 
               a(href="#") Light Fabric Recliner Chair
            p.bm-tab-cart__decription-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore a lomdo aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip kotex commodon consequat. Duis aute irure dolor in esse cillum dolore eu fugiat nulla pariatur.
            div.bm-tab-cart__box-label.bm-cart-list
                p.bm-tab-cart__box-label_price $320.00
                form.bm-tab-cart__add-cart(action="#")
                    button.bm-tab-cart__add-button Add to cart


