.bm-about {


    &__title {
        font-size: 166.6%;
        color: #222;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 2;
        position: relative;
        margin-bottom: 30px;
    }

    &__title::before {
        content: "";
        width: 70px;
        height: 3px;
        display: inline-block;
        position: absolute;
        bottom: -8px;
        left: 0;
        background-color: #ed1c24;
    }

    &__tlt {
        background: url("../../../img/about-us/bg-title-about.png") repeat-x left center;
        margin-bottom: 17px;
    }

    &__tlt > h2 {
        background: #fff;
        display: inline-block;
        font-size: 183.3%;
        color: #444;
        padding: 0 30px 6px 0;
        font-family: inherit;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
    }

    

    &__name {
        background: url("../../../img/about-us/bg-title-about.png") repeat-x left center;
        margin-bottom: 17px;
    }

    &__name > h2 {
        background: #fff;
        display: inline-block;
        font-size: 183.3%;
        color: #444;
        padding: 0 30px 6px 0;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1;
    }

    &__choose {

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &-item {
            position: relative;
            padding-left: 30px;
            margin-bottom: 0;
            margin-top: 0;
            box-sizing: border-box;
            padding: 5px 20px 7px;
            color: #222222;
            font-size: 15px;
            line-height: 1.66;
            font-weight: 400;
        }

        &-item::before {
            background-image: url("../../../img/about-us/icon-whylist.png");
            content: "";
            width: 14px;
            height: 12px;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 10px;
            background-repeat: no-repeat;
            background-position: top left;
        }
    }

    &__member {

        &-title {
            text-align: center;
            background: url("../../../img/about-us/bg-title-about.png") repeat-x left center;
            margin-bottom: 17px;
        }

        &-title > h2 {
            padding: 0 30px 6px;
            display: inline-block;
            font-size: 215.38%;
            font-weight: 400;
            font-family: inherit;
            background: #fff;
            line-height: 2;
        }

        &-text {
            text-align: center;
            color: #909090;
            font-size: 13px;
            line-height: 1.66;
            font-weight: 400;
        }
    }

    &__slide {
        

        &-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-img {
            height: 201px;
            overflow: hidden;
            cursor: pointer;
    
        }

        &-back {
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.2;
            transform: translateY(-405px);
            transition: all 0.5s ease;
        }

        &-social {
            transform: translateY(-204px);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.8s ease;
            transform: translateY(-260px);
        }

        &-social > a {
            margin-right: 5px;
        }

        &-title {
            color: #222222;
            font-size: 133%;
            font-weight: 400;
            line-height: 2;
            text-align: center;
            margin-top: 10px;
            transition: all 0.2s ease;
            cursor: pointer;
            margin-bottom: 0px;
        }

        &-title:hover {
            text-decoration: underline;
            color: #ed1c24;
        }

        &-job {
            font-size: 116.6%;
            padding: 3px 0 2px;
            color: #444;
            box-sizing: border-box;
            margin: 0 0 10px;
            text-align: center;
            line-height: 1.66;
            font-weight: 400;
            margin-top: 0px;
        }

        &-descr {
            margin: 0 0 10px;
            font-size: 13px;
            color: #888888;
            line-height: 1.66;
            font-weight: 400;
            box-sizing: border-box;
            text-align: center;
        }
    }

    &__comments {
        position: relative;
        padding-top: 45px !important;
        margin-bottom: 50px;

        &-slider {
            border: 1px solid #e9e9e9;
            padding: 33px 8px 20px !important; 
        }

        &-title {
            background: #fff;
            display: inline-block;
            left: 20px;
            padding: 5px 10px;
            position: absolute;
            top: 15px;
            z-index: 2;
        }

        &-title > h2 {
            font-size: 150%;
            color: #444;
            font-family: inherit;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 0;
            line-height: 2;
        }

        &-say {
            font-size: 107.69%;
            color: #909090;
            margin-bottom: 10px;
            line-height: 1.66;
            font-weight: 400;
            position: relative;
            padding-left: 31px;
        }

        &-say::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 12px;
            background: url("../../../img/about-us/note-client.png") no-repeat top left;
            left: 0;
            top: 6px;
        }

        &-client {
            margin: 0 0 10px;
            font-size: 13px;
            color: #888888;
            line-height: 1.66;
            font-weight: 400;
            padding-left: 30px;
        }
    }
}

.bm-about__slide-img:hover > .bm-about__slide-back {
    transform: translateY(-205px);
}


.bm-about__slide-img:hover > .bm-about__slide-social > .bm-about__slide-social_facebook {
    transform: translateY(0px);
    opacity: 1;
}

.bm-about__slide-img:hover > .bm-about__slide-social > .bm-about__slide-social_flickr {
    transform: translateY(0px);
    opacity: 1;
}

.bm-about__slide-img:hover > .bm-about__slide-social > .bm-about__slide-social_twitter {
    transform: translateY(0px);
    opacity: 1;
}

.bm-about__slide-social_facebook {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: left top;
    background-repeat: no-repeat;
    border-radius: 50%;
    background: url("../../../img/about-us/cl_facebook.png");
    transform: translateY(56px);
    transition: all 1s ease;
    opacity: 1;
}

.bm-about__slide-social_flickr {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: left top;
    background-repeat: no-repeat;
    transform: translateY(56px);
    border-radius: 50%;
    transition: all 2s ease;
    opacity: 0;
    background: url("../../../img/about-us/cl_flickr.png");
}

.bm-about__slide-social_twitter {
    display: inline-block;
    width: 25px;
    height: 25px;
    opacity: 0;
    background-position: left top;
    transform: translateY(56px);
    background-repeat: no-repeat;
    transition: all 3s ease;
    border-radius: 50%;
    background: url("../../../img/about-us/cl_twitter.png");
}

.bm-about__member-slider {
    padding-top: 70px !important;
}

.bm-about__pagination {
    bottom: 355px !important; 
}

.bm-about__pagination > .swiper-pagination-bullet {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    background-color: #d7d7d5;
}

.bm-about__pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #ed1c24 !important;
}

.bm-about__pagination > .swiper-pagination-bullet:hover {
    background-color: #ed1c24 !important;
    opacity: 1;
}

.bm-about__client-name {
    font-size: 133%;
}

.bm-about__comments-prev.swiper-button-prev {
    display: inline-block;
    width: 26px !important;
    height: 26px !important;
    background-position: left top;
    background-repeat: no-repeat;
    top: 55px;
    position: absolute;
    background-image: url("../../../img/about-us/btn-prev-hp-h.png") !important;
    right: 84px !important;
    left: inherit !important;
}

.bm-about__comments-prev.swiper-button-prev:after, .bm-about__comments-next.swiper-button-next:after {
    content: '' !important;
}

.bm-about__comments-slider {
    position: static !important;
}

.bm-about__comments-next.swiper-button-next {
    display: inline-block;
    width: 26px !important;
    height: 26px !important;
    background-position: left top;
    background-repeat: no-repeat;
    top: 55px;
    position: absolute;
    background-image: url("../../../img/about-us/btn-next-hp-h.png") !important;
    right: 47px !important;
    left: inherit !important;
}


.bm-about-us__content {
    margin-bottom: 30px;
}

.bm-about__content-img {
    float: left;
    width: 270px;
    padding-top: 6px;
}

.bm-about__content-text {
    margin-left: 287px;
    line-height: 18px;
    font-size: 13px;
    color: #888888;
    font-weight: 400;
}

@media (min-width: 319px) and (max-width: 1023px) {
    .bm-about__content {
        flex-direction: column;
    }

    .bm-about-us__content-left {
        width: 100%;
    }

    .bm-about-us__content-right {
        width: 100%;
    }
}


@media (min-width: 319px) and (max-width: 767px) {
    .bm-about-us__content {
        display: flex;
        flex-direction: column;
    }

    .bm-about__content-text {
        margin-left: 0px;
    }
}

@media (min-width: 319px) and (max-width: 424px) {
    .bm-about__comments-next.swiper-button-next {
        right: 13px !important;
    }
    .bm-about__comments-prev.swiper-button-prev {
        right: 44px !important;
    }
}
