.bm-shop-sort {
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__panel {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        &-row, &-column {
            display: inline-block;
            width: 34px;
            height: 34px;
            border: 1px solid #e5e5e5;
            text-align: center;
            line-height: 34px;
            background-color: #fff;
            margin-right: 5px;
            border-radius: 4px;
            cursor: pointer;
        }

        &-row::before {
            content: '\f009';
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-align: center;
            font-size: 14px;
            line-height: 1;
        }

        &-column::before {
            content: '\f00b';
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-align: center;
            font-size: 14px;
            line-height: 1;
        }

        &-row:hover, &-column:hover {
            background-color: #ed1c24;
            border-color: #ed1c24;
            color: #fff;
        }
    }

    &__info {
        font-size: 13px;
        color: #888888;
    }

    &__info > span {
        margin-right: 5px;
    }

    // &__info > span:nth-child(1) {
    //     margin-left: 5px;
    // }

    &__select-count {
        height: 32px;
        line-height: 32px;
        border: 1px solid #c2c2c2;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 1px;
        width: 52px;
        padding-left: 10px;
        box-sizing: border-box;
        background: url("../../../img/shop-sort/bg-selectbox.png") no-repeat right center #fff;
    }

    &__count-sort {
        display: flex;
        align-items: center;
    }

    &__count-sort > label {
        margin-right: 10px;
    }

    &__count-sort > span {
        margin-left: 10px;
    }

    &__select-type {
        height: 32px;
        line-height: 32px;
        width: 137px;
        border: 1px solid #c2c2c2;
        border-radius: 1px;
        padding-left: 10px;
        box-sizing: border-box;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url("../../../img/shop-sort/bg-selectbox.png") no-repeat right center #fff;
    }

    &__type-sort {
        display: flex;
        align-items: center;
    }

    &__type-sort > label {
        margin-right: 10px;
    }

    &__arrow {
        display: block;
        text-decoration: none;
        margin-left: 10px;
    }

    &__arrow::before {
        content: '\f175';
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-size: 14px;
    }
}

.bm-shop-sort__panel-row.bm-active-sort {
    background-color: #ed1c24;
    border-color: #ed1c24;
    color: #fff;
}

.bm-shop-sort__panel-column.bm-active-sort {
    background-color: #ed1c24;
    border-color: #ed1c24;
    color: #fff;
}

.bm-shop-sort__arrow.bm-active-sort {
    transform: rotate(180deg);
}


@media (min-width: 319px) and (max-width: 767px) {
    .bm-shop-sort__info {
        display: none;
    }

    .bm-shop-sort__count-sort {
        display: none;
    }

    .bm-shop-sort {
        width: 94%;
    }
}