.bm-bred-crumb {
    padding: 10px 0px;

    &__wrapper {
        display: flex;
        list-style-type: none;
        padding: 0px 0px 0px 15px;
        box-sizing: border-box;
    }

    &__wrapper > li {
        margin-right: 30px;
        position: relative;
    }

    &__wrapper > li::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        left: -20px;
        top: 7px;
        background: url('../../../img/bred-crumb/next.svg') no-repeat center;
    }

    &__wrapper > li:nth-child(1)::after {
        display: none;
    }

    &__wrapper > li > a {
        font-size: 1.2rem;
        color: #333;
        text-decoration: none;
        display: inline-block;
        font-weight: 400;
    }

    &__wrapper > li > a.bm-active-crumb {
        color: #a3a3a3;
    }
}