.bm-color-picker {

    &__title {
        font-size: 20px;
        color: #222;
        font-weight: 400;
        margin-top: 2rem;
        margin-bottom: 10px;
    }

    &__select {
        background-color: #fafafa;
        border: 1px solid #e5e5e5;
        margin-bottom: 30px;
        border-radius: 4px;
        padding: 10px 10px 15px 20px;
        display: flex;
        width: 268px;
        align-items: center;
    }

    &__select > a {
        display: block;
        width: 20px;
        height: 20px;
        outline: none !important;
        border: 1px solid black !important;
        margin-right: 20px;
        border-radius: 50%;
    }
}

.bm-select__blue {
    background-color: blue;
}

.bm-select__white {
    background-color: white;
}

.bm-select__brown {
    background-color: brown;
}

.bm-select__black {
    background-color: black;
}


@media (min-width: 767px) and (max-width: 1023px) {
    .bm-color-picker__select {
        width: 95%;
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-color-picker__select {
        width: 86%;
    }
}