.bm-left-content {
    padding-left: 15px;
    box-sizing: border-box;
}

.bm-right-content {
    padding-left: 50px;
    box-sizing: border-box;
    width: 100%;
}

.bm-left-content-blog {
    float: left;
    width: 80%;
}

.bm-right-content-blog {
    float: right;
    padding-left: 30px;
}

@media (min-width: 319px) and (max-width: 1023px) {
    .flex.bm-mobile-flex-shop {
        flex-direction: column !important;
    }  
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-right-content {
        padding-left: 16px;
    }
}

@media (min-width: 319px) and (max-width: 1024px) {
    .bm-left-content-blog {
        width: 100%;
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-right-content-blog {
        padding-left: 10px;
        padding-right: 10px;
    }
}