.bm-manufacturer {

    &__title {
        font-size: 20px;
        color: #222;
        font-weight: 400;
        margin-top: 2rem;
        margin-bottom: 10px;
    }

    &__select {
        margin: 0;
        padding: 0;
        list-style: none none;

        &-item {
            display: block;
            background-color: #fafafa;
            border: 1px solid #e5e5e5;
        }

        &-link {
            display: flex;
            justify-content: space-between;
            padding: 13px 20px 10px;
            text-decoration: none;
        }

        &-name, &-count {
            font-size: 13px;
            font-weight: 400;
            color: #222222;
            line-height: 1.42857143;
        }

        &-name:hover {
            color: #ed1c24;
        }
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-manufacturer {
        width: 95%;
    }
}