.bm-now-shopping {

    &__title {
        font-size: 22px;
        color: #222;
        font-weight: normal;
        display: inline-block;
        margin-bottom: 10px;
        line-height: 1.66;
    }

    &__filter {
        display: flex;
        flex-direction: column;

        &-category {
            display: flex;
            flex-direction: row;
            border: 1px solid #e5e5e5;
            border-bottom: none;
            overflow: hidden;
            margin: 0;
            padding: 13px 20px 10px;
            background-color: #f8f8f8;
        }

        &-label {
            font-size: 13px;
            color: #888888;
            line-height: 1.66;
            font-weight: normal;
            display: block;
        }

        &-value {
            font-size: 13px;
            color: #888888;
            line-height: 1.66;
            font-weight: normal;
            display: block;
        }

        &-category > span {
            margin-right: 5px;
        }

        &-close {
            display: block;
            text-decoration: none;
        }

        &-close::before {
            content: '\f00d';
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-align: center;
            font-size: 14px;
            line-height: 1;
            color: #ff5555;
        }

        &-clear {
            padding: 20px;
            border: 1px solid #e5e5e5;
            text-align: right;
        }

        &-clear > a {
            text-decoration: none;
            color: #222222;
            text-align: right;
            display: inline-block;
            font-size: 13px;
            line-height: 1.66;
        }

    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-now-shopping {
        width: 95%;
    }
}