.bm-pagination {
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    &__panel {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__list {
        display: inline-block;
        width: 34px;
        height: 34px;
        border: 1px solid #e5e5e5;
        text-align: center;
        line-height: 34px;
        background-color: #fff;
        margin-right: 5px;
        border-radius: 4px;
        cursor: pointer;
    }

    &__list:hover {
        background-color: #ed1c24;
        border-color: #ed1c24;
        color: #fff;
    }
}

.bm-pagination__list.bm-active-sort {
    background-color: #ed1c24;
    border-color: #ed1c24;
    color: #fff;
}

.bm-pagination__list.bm-next-pagination::after {
    content: '\f105';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
}

.bm-pagination__list.bm-prev-pagination {
    transform: rotate(180deg);
}

.bm-pagination__list.bm-prev-pagination::after {
    content: '\f105';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-pagination {
        width: 96%;
    }
}