.bm-price-slider {

    &__title {
        font-size: 20px;
        color: #222;
        font-weight: 400;
        margin-top: 2rem;
        margin-bottom: 10px;
    }

    &__wrapper {
        padding: 10px 20px 20px;
        background-color: #fafafa;
        border: 1px solid #e5e5e5;
        width: 301px;
        height: 113px;
        box-sizing: border-box;
    }

    &__cost {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__cost > input {
        border: 1px solid #d8d8d8 !important;
        color: #211e1f;
        padding-left: 2px;
        padding-right: 2px;
        width: 50px;
        height: 35px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;

    }
    &__cost > span {
        margin-left: 5px;
        font-size: 13px;
        color: #888888;
        font-weight: 400;
    }
}

.ui-widget-header {
    background-color: #ed1c24 !important;
}

.ui-widget-content {
    background-color: #fff !important;
    border-radius: 4px !important;
    height: 8px !important;
    margin: 20px 8px 0 4px !important;
    position: relative !important;
    border: 1px solid #e5e5e5 !important;
}

.ui-slider .ui-slider-handle {
    background: #fff none repeat scroll 0 0 !important;
    border: 2px solid #ed1c24 !important;
    border-radius: 50% !important;
    cursor: e-resize !important;
    display: block !important;
    height: 14px !important;
    width: 14px !important;
    z-index: 15 !important;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -5.3px !important;
}

@media (min-width: 767px) and (max-width: 1023px) {
    .bm-price-slider__wrapper {
        width: 100%;
    }
}


@media (min-width: 319px) and (max-width: 767px) {
    .bm-price-slider__wrapper {
        width: 96%;
    }
}