.bm-product-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__cart {
        width: 33%;
        margin-bottom: 30px;
    }

    &__cart-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 266px;
    }

    &__cart-list > .bm-tab-cart__box-img {
        width: 100%;
    }
}

.bm-tab-cart__box-img > a > img {
    width: 100%;
    height: auto;
}

.bm-tab-cart__box-label.bm-cart-list {
    align-items: inherit;
    margin-top: 30px;
}

.bm-tab-cart__description-title > a {
    text-decoration: none;
    color: #222222;
    font-weight: normal;
    font-size: 20px;
    line-height: 2;
    text-transform: capitalize;
}

.bm-tab-cart__decription-text {
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
}

.bm-tab-cart__description {
    margin-left: 30px;
}

.bm-tab-cart__description-title > a:hover {
    color: #ed1c24;
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-product-list {
        flex-direction: column;
    }

    .bm-product-list__cart {
        width: 100%;
    }

    .bm-product-list__cart-list {
        flex-direction: column;
    }

    .bm-product-list__cart-list {
        height: auto;
    }
}