div.bm-blog-categories
    p.bm-blog-categories__title Categories
    div.bm-blog-categories__wrapper
        div.bm-blog-categories__item
            a(href="#") News
        div.bm-blog-categories__item
            a(href="#") Hot
        div.bm-blog-categories__item
            a(href="#") Relax
        div.bm-blog-categories__item
            a(href="#") Fashion
        div.bm-blog-categories__item
            a(href="#") Technologies

