div.container
    include ../shop-page/bred.pug
    div.flex.bm-mobile-flex-shop
        div.bm-left-content-blog
            include title.pug
            include publication.pug
        div.bm-right-content-blog
            include search.pug
            include categories.pug
            include recentPost.pug
            include archive.pug