section.bm-publication
    div.bm-publication-item
        div.bm-publication-item__img
            a(href="post.html")
                img(src="img/blog-page/post-2.jpg", alt="Картинка поста")
            div.bm-publication-item__date
                span.bm-publication-item__day 18
                span.bm-publication-item__month Oct
        div.bm-publication-item__description
            h2.bm-publication-item__description-title
                a(href="post.html") Like Voice Assistant
            p.bm-publication-item__description-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do perspciats omnis iste natuseimod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qunostrud exercitation ullamco laboris nisi utim aliquip sex ea commodo consequat...
            p.bm-publication-item__description-more
                a(href="post.html") Read more
            div.bm-publication-item__share
                p.bm-publication-item__share-text Share This:
                div.bm-publication-item__share-social
                    a(href="#").bm-publication-item__share-facebook
                    a(href="#").bm-publication-item__share-twitter
                    a(href="#").bm-publication-item__share-mail
                    a(href="#").bm-publication-item__share-more
    div.bm-publication-item
        div.bm-publication-item__img
            a(href="#")
                img(src="img/blog-page/post-2.jpg", alt="Картинка поста")
            div.bm-publication-item__date
                span.bm-publication-item__day 18
                span.bm-publication-item__month Oct
        div.bm-publication-item__description
            h2.bm-publication-item__description-title
                a(href="#") Like Voice Assistant
            p.bm-publication-item__description-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do perspciats omnis iste natuseimod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qunostrud exercitation ullamco laboris nisi utim aliquip sex ea commodo consequat...
            p.bm-publication-item__description-more
                a(href="#") Read more
            div.bm-publication-item__share
                p.bm-publication-item__share-text Share This:
                div.bm-publication-item__share-social
                    a(href="#").bm-publication-item__share-facebook
                    a(href="#").bm-publication-item__share-twitter
                    a(href="#").bm-publication-item__share-mail
                    a(href="#").bm-publication-item__share-more

