div.bm-blog-recent
    p.bm-blog-recent__title Recent Post
    div.bm-blog-recent__wrapper
        div.bm-blog-recent__item
            a(href="#") Like Voice Assistant
        div.bm-blog-recent__item
            a(href="#") Winner Of Primetime
        div.bm-blog-recent__item
            a(href="#") Kills iPhone Exposes
        div.bm-blog-recent__item
            a(href="#") The natural range