extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	include ../layouts/header.pug
	include ../layouts/menu.pug
	include shop-page/container.pug
	include ../layouts/footer.pug
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")