div.bm-about__name
    h2 Why Choose Us
div.bm-about__choose
    ul.bm-about__choose-list
        li.bm-about__choose-item Shipping & Returns
        li.bm-about__choose-item Secure Shopping
        li.bm-about__choose-item International Shipping
        li.bm-about__choose-item Affiliates
        li.bm-about__choose-item Group Sales
        