div.container
    include ../shop-page/bred.pug
    div.bm-about
        h1.bm-about__title About Us
        div.bm-about__content
            div.bm-about-us__content-left
                include aboutUs.pug
            div.bm-about-us__content-right
                include choose.pug
        include member.pug
