div.bm-about__member
    div.bm-about__member-title
        h2 Our Member
    div.bm-about__member-text Consectetur adipiscing elit. Donec pellentesque venenatis elit, quis aliquet mauris malesuada vel. Donec vitae libero dolor, eget dapibus justo.Consectetur adipiscing elit. Donec pellentesque venenatis elit, quis aliquet mauris malesuada vel. Donec vitae libero dolor, eget dapibus justo. Aenean facilisis aliquet feugiat. Suspendisse lacinia congue est ac semper. Nulla ut elit magna, vitae volutpat magna.
    div.bm-about__member-slider.swiper-container
        div.bm-about__memder-wrapper.swiper-wrapper
            div.bm-about__slide.swiper-slide
                div.bm-about__slide-content
                    div.bm-about__slide-img
                        img(src="img/about-us/cl-image-1.png", alt="")
                        div.bm-about__slide-back
                        div.bm-about__slide-social
                            a(href="#").bm-about__slide-social_facebook
                            a(href="#").bm-about__slide-social_flickr
                            a(href="#").bm-about__slide-social_twitter
                    h2.bm-about__slide-title Jennifer lawrence
                    p.bm-about__slide-job Tech Leader
                    p.bm-about__slide-descr Pellentesque dictumst nibh nulla dui at urna leo wisi dui
            div.bm-about__slide.swiper-slide
                div.bm-about__slide-content
                    div.bm-about__slide-img
                        img(src="img/about-us/cl-image-1.png", alt="")
                        div.bm-about__slide-back
                        div.bm-about__slide-social
                            a(href="#").bm-about__slide-social_facebook
                            a(href="#").bm-about__slide-social_flickr
                            a(href="#").bm-about__slide-social_twitter
                    h2.bm-about__slide-title Jennifer lawrence
                    p.bm-about__slide-job Tech Leader
                    p.bm-about__slide-descr Pellentesque dictumst nibh nulla dui at urna leo wisi dui
            div.bm-about__slide.swiper-slide
                div.bm-about__slide-content
                    div.bm-about__slide-img
                        img(src="img/about-us/cl-image-1.png", alt="")
                        div.bm-about__slide-back
                        div.bm-about__slide-social
                            a(href="#").bm-about__slide-social_facebook
                            a(href="#").bm-about__slide-social_flickr
                            a(href="#").bm-about__slide-social_twitter
                    h2.bm-about__slide-title Jennifer lawrence
                    p.bm-about__slide-job Tech Leader
                    p.bm-about__slide-descr Pellentesque dictumst nibh nulla dui at urna leo wisi dui
            div.bm-about__slide.swiper-slide
                div.bm-about__slide-content
                    div.bm-about__slide-img
                        img(src="img/about-us/cl-image-1.png", alt="")
                        div.bm-about__slide-back
                        div.bm-about__slide-social
                            a(href="#").bm-about__slide-social_facebook
                            a(href="#").bm-about__slide-social_flickr
                            a(href="#").bm-about__slide-social_twitter
                    h2.bm-about__slide-title Jennifer lawrence
                    p.bm-about__slide-job Tech Leader
                    p.bm-about__slide-descr Pellentesque dictumst nibh nulla dui at urna leo wisi dui
            div.bm-about__slide.swiper-slide
                div.bm-about__slide-content
                    div.bm-about__slide-img
                        img(src="img/about-us/cl-image-1.png", alt="")
                        div.bm-about__slide-back
                        div.bm-about__slide-social
                            a(href="#").bm-about__slide-social_facebook
                            a(href="#").bm-about__slide-social_flickr
                            a(href="#").bm-about__slide-social_twitter
                    h2.bm-about__slide-title Jennifer lawrence
                    p.bm-about__slide-job Tech Leader
                    p.bm-about__slide-descr Pellentesque dictumst nibh nulla dui at urna leo wisi dui
            div.bm-about__slide.swiper-slide
                div.bm-about__slide-content
                    div.bm-about__slide-img
                        img(src="img/about-us/cl-image-1.png", alt="")
                        div.bm-about__slide-back
                        div.bm-about__slide-social
                            a(href="#").bm-about__slide-social_facebook
                            a(href="#").bm-about__slide-social_flickr
                            a(href="#").bm-about__slide-social_twitter
                    h2.bm-about__slide-title Jennifer lawrence
                    p.bm-about__slide-job Tech Leader
                    p.bm-about__slide-descr Pellentesque dictumst nibh nulla dui at urna leo wisi dui
            div.bm-about__slide.swiper-slide
                div.bm-about__slide-content
                    div.bm-about__slide-img
                        img(src="img/about-us/cl-image-1.png", alt="")
                        div.bm-about__slide-back
                        div.bm-about__slide-social
                            a(href="#").bm-about__slide-social_facebook
                            a(href="#").bm-about__slide-social_flickr
                            a(href="#").bm-about__slide-social_twitter
                    h2.bm-about__slide-title Jennifer lawrence
                    p.bm-about__slide-job Tech Leader
                    p.bm-about__slide-descr Pellentesque dictumst nibh nulla dui at urna leo wisi dui
        div.bm-about__pagination.swiper-pagination
    div.bm-about__comments
        div.bm-about__comments-title
            h2 Happy customer says
        div.bm-about__comments-slider.swiper-container
            div.bm-about__comments-wrapper.swiper-wrapper
                div.bm-about__comments-slide.swiper-slide
                    div.bm-about__comments-say In congue, justo non cursus adipiscing, dui nibh scelerisque justo, lorem ipsum dolor sit amet, consectetur adipiscing elit. quis pretium turpis neque eget nulla. Curabitur dictum consectetur metus nec dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue, justo non cursus adipiscing, dui nibh scelerisque justo non cursus adipiscing, dui nibh scelerisque justo, quis pretium turpis.
                    p.bm-about__comments-client
                        span.bm-about__client-name - Jonh Doe -
                        span.bm-about__client-job Supporter
                div.bm-about__comments-slide.swiper-slide
                    div.bm-about__comments-say In congue, justo non cursus adipiscing, dui nibh scelerisque justo, lorem ipsum dolor sit amet, consectetur adipiscing elit. quis pretium turpis neque eget nulla. Curabitur dictum consectetur metus nec dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue, justo non cursus adipiscing, dui nibh scelerisque justo non cursus adipiscing, dui nibh scelerisque justo, quis pretium turpis.
                    p.bm-about__comments-client
                        span.bm-about__client-name - Jonh Doe -
                        span.bm-about__client-job Supporter
            div.bm-about__comments-prev.swiper-button-prev
            div.bm-about__comments-next.swiper-button-next


            