extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	include layouts/header.pug
	include layouts/menu.pug
	include pages/main-page/banner.pug
	include pages/main-page/sliderCategory.pug
	include pages/main-page/price.pug
	include pages/main-page/tabCategory.pug
	include pages/main-page/preview.pug
	include pages/main-page/blogPreview.pug
	include pages/main-page/featuredProducts.pug
	include pages/main-page/companyLabel.pug
	include pages/main-page/categoryList.pug
	include pages/main-page/clientSay.pug
	include layouts/footer
	
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
