div.bm-banner.swiper-container
    div.bm-banner__slider.swiper-wrapper
        div.bm-banner__slide.swiper-slide
            a(href="#" class="bm-banner__slide-link")
                img( class="bm-banner__slide-img" src="img/banner/item-2.jpg", alt="Первая картинка слайда")
        div.bm-banner__slide.swiper-slide
            a(href="#" class="bm-banner__slide-link")
                img( class="bm-banner__slide-img" src="img/banner/item-3.jpg", alt="Вторая картинка слайда")
        div.bm-banner__slide.swiper-slide
            a(href="#" class="bm-banner__slide-link")
                img( class="bm-banner__slide-img" src="img/banner/item-4.jpg", alt="Третья картинка слайда")
        div.bm-banner__slide.swiper-slide
            a(href="#" class="bm-banner__slide-link")
                img( class="bm-banner__slide-img" src="img/banner/item-5.jpg", alt="Четвертая картинка слайда")
    div.bm-banner__button-prev.swiper-button-prev
    div.bm-banner__button-next.swiper-button-next


    