section.bm-blog-preview
    div.container.container--mobile
        div.bm-blog-preview__wrapper
            div.bm-blog-preview__wrapper-row
                div.bm-blog-preview__image
                    a(href="#")
                        img(src="img/blog-preview/post-2.jpg", alt="")
                    div.bm-blog-preview__date
                        span.bm-blog-preview__date-day 18
                        span.bm-blog-preview__date-month Oct
                div.bm-blog-preview__description
                    h2.bm-blog-preview__title
                        a(href="#") Winner Of Primetime
                    div.bm-blog-preview__categories
                        img(src="img/svg/blog-preview/folder.svg", alt="Папка")
                        span Categories:  
                        span
                            a(href="#") News, 
                        span
                            a(href="#") Hot, 
                        span
                            a(href="#") Relax, 
                        span
                            a(href="#") Fashion
                    p.bm-blog-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do perspciats omnis iste natuseimod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qunostrud e... 
                    a(href="#").bm-blog-preview__link-read Read more
                div.bm-blog-preview__image
                    a(href="#")
                        img(src="img/blog-preview/post-3.jpg", alt="")
                    div.bm-blog-preview__date
                        span.bm-blog-preview__date-day 18
                        span.bm-blog-preview__date-month Oct
            div.bm-blog-preview__wrapper-row
                div.bm-blog-preview__description
                    h2.bm-blog-preview__title
                        a(href="#") Winner Of Primetime
                    div.bm-blog-preview__categories
                        img(src="img/svg/blog-preview/folder.svg", alt="Папка")
                        span Categories:  
                        span
                            a(href="#") News, 
                        span
                            a(href="#") Hot, 
                        span
                            a(href="#") Relax, 
                        span
                            a(href="#") Fashion
                    p.bm-blog-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do perspciats omnis iste natuseimod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qunostrud e... 
                    a(href="#").bm-blog-preview__link-read Read more
                div.bm-blog-preview__image
                    a(href="#")
                        img(src="img/blog-preview/post-4.jpg", alt="")
                    div.bm-blog-preview__date
                        span.bm-blog-preview__date-day 18
                        span.bm-blog-preview__date-month Oct
                div.bm-blog-preview__description
                    h2.bm-blog-preview__title
                        a(href="#") Winner Of Primetime
                    div.bm-blog-preview__categories
                        img(src="img/svg/blog-preview/folder.svg", alt="Папка")
                        span Categories:  
                        span
                            a(href="#") News, 
                        span
                            a(href="#") Hot, 
                        span
                            a(href="#") Relax, 
                        span
                            a(href="#") Fashion
                    p.bm-blog-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do perspciats omnis iste natuseimod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qunostrud e... 
                    a(href="#").bm-blog-preview__link-read Read more