section.bm-category-list
    div.container
        div.bm-category-list__wrapper
            div.bm-category-list__item
                h3.bm-category-list__item-title New Arrivals
                div.bm-category-list__item-cart
                    div.bm-category__item-cart_img
                        a(href="#")
                            img(src="img/category-list/item-1.jpg", alt="Картинка товара")
                    div.bm-category__item-cart_description
                        a(href="#").bm-category__item-cart_title Linon Decor Simon Club Chair
                        span.bm-category__item-cart_price $260.00
                div.bm-category-list__item-cart
                    div.bm-category__item-cart_img
                        a(href="#")
                            img(src="img/category-list/item-1.jpg", alt="Картинка товара")
                    div.bm-category__item-cart_description
                        a(href="#").bm-category__item-cart_title Linon Decor Simon Club Chair
                        span.bm-category__item-cart_price $260.00
                div.bm-category-list__item-cart
                    div.bm-category__item-cart_img
                        a(href="#")
                            img(src="img/category-list/item-1.jpg", alt="Картинка товара")
                    div.bm-category__item-cart_description
                        a(href="#").bm-category__item-cart_title Linon Decor Simon Club Chair
                        span.bm-category__item-cart_price $260.00
            div.bm-category-list__item
                h3.bm-category-list__item-title BESTSELLERS
                div.bm-category-list__item-cart
                    div.bm-category__item-cart_img
                        a(href="#")
                            img(src="img/category-list/item-1.jpg", alt="Картинка товара")
                    div.bm-category__item-cart_description
                        a(href="#").bm-category__item-cart_title Linon Decor Simon Club Chair
                        span.bm-category__item-cart_price $260.00
                div.bm-category-list__item-cart
                    div.bm-category__item-cart_img
                        a(href="#")
                            img(src="img/category-list/item-1.jpg", alt="Картинка товара")
                    div.bm-category__item-cart_description
                        a(href="#").bm-category__item-cart_title Linon Decor Simon Club Chair
                        span.bm-category__item-cart_price $260.00
                div.bm-category-list__item-cart
                    div.bm-category__item-cart_img
                        a(href="#")
                            img(src="img/category-list/item-1.jpg", alt="Картинка товара")
                    div.bm-category__item-cart_description
                        a(href="#").bm-category__item-cart_title Linon Decor Simon Club Chair
                        span.bm-category__item-cart_price $260.00
            div.bm-category-list__item
                h3.bm-category-list__item-title FEATURED
                div.bm-category-list__item-cart
                    div.bm-category__item-cart_img
                        a(href="#")
                            img(src="img/category-list/item-1.jpg", alt="Картинка товара")
                    div.bm-category__item-cart_description
                        a(href="#").bm-category__item-cart_title Linon Decor Simon Club Chair
                        span.bm-category__item-cart_price $260.00
                div.bm-category-list__item-cart
                    div.bm-category__item-cart_img
                        a(href="#")
                            img(src="img/category-list/item-1.jpg", alt="Картинка товара")
                    div.bm-category__item-cart_description
                        a(href="#").bm-category__item-cart_title Linon Decor Simon Club Chair
                        span.bm-category__item-cart_price $260.00
                div.bm-category-list__item-cart
                    div.bm-category__item-cart_img
                        a(href="#")
                            img(src="img/category-list/item-1.jpg", alt="Картинка товара")
                    div.bm-category__item-cart_description
                        a(href="#").bm-category__item-cart_title Linon Decor Simon Club Chair
                        span.bm-category__item-cart_price $260.00