section.bm-client-say
    div.container
        div.bm-client-say__wrapper.swiper-container
            div.bm-client-say__slider.swiper-wrapper
                div.bm-client-say__slide.swiper-slide
                    h3.bm-client-say__slide-title What Our Clients Say?
                    p.bm-client-say__slide-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                      br
                                                      |  incididunt ut laboreet dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                      br
                                                      |  laboris nisi ut aliquip ex ea commodo consequat.
                    p.bm-client-say__slide-name David Walker
                    p.bm-client-say__slide-job Marketing - Online Store
                div.bm-client-say__slide.swiper-slide
                    h3.bm-client-say__slide-title What Our Clients Say?
                    p.bm-client-say__slide-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                      br
                                                      |  incididunt ut laboreet dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                      br
                                                      |  laboris nisi ut aliquip ex ea commodo consequat.
                    p.bm-client-say__slide-name Adam Walker
                    p.bm-client-say__slide-job Developer - Our Company
                div.bm-client-say__slide.swiper-slide
                    h3.bm-client-say__slide-title What Our Clients Say?
                    p.bm-client-say__slide-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                      br
                                                      |  incididunt ut laboreet dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                      br
                                                      |  laboris nisi ut aliquip ex ea commodo consequat.
                    p.bm-client-say__slide-name Anna Johanson
                    p.bm-client-say__slide-job Developer - Our Company
            div.bm-client-say__pagination.swiper-pagination