section.bm-company-label
    div.container
        div.bm-company-label__wrapper.swiper-container
            div.bm-company-label__slider.swiper-wrapper
                div.bm-company-label__slide.swiper-slide
                    a(href="#")
                        img(src="img/company-logo/item-1.jpg", alt="Компания - 1")
                div.bm-company-label__slide.swiper-slide
                    a(href="#")
                        img(src="img/company-logo/item-2.jpg", alt="Компания - 1")
                div.bm-company-label__slide.swiper-slide
                    a(href="#")
                        img(src="img/company-logo/item-3.jpg", alt="Компания - 1")
                div.bm-company-label__slide.swiper-slide
                    a(href="#")
                        img(src="img/company-logo/item-4.jpg", alt="Компания - 1")
                div.bm-company-label__slide.swiper-slide
                    a(href="#")
                        img(src="img/company-logo/item-5.jpg", alt="Компания - 1")
                div.bm-company-label__slide.swiper-slide
                    a(href="#")
                        img(src="img/company-logo/item-6.jpg", alt="Компания - 1")
                div.bm-company-label__slide.swiper-slide
                    a(href="#")
                        img(src="img/company-logo/item-7.jpg", alt="Компания - 1")
                div.bm-company-label__slide.swiper-slide
                    a(href="#")
                        img(src="img/company-logo/item-8.jpg", alt="Компания - 1")    
            div.bm-company-label__button-prev.swiper-button-prev
            div.bm-company-label__button-next.swiper-button-next

