section.bm-featured
    div.container
        div.bm-price__description
            h2.bm-price__title FEATURED PRODUCTS
            p.bm-price__text 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                br
                | incididunt ut labore et dolore magna aliqua.
        div.bm-featured__wrapper.swiper-container
            div.bm-featured__slider.swiper-wrapper
                div.bm-featured__slide.swiper-slide
                    div.bm-tab-cart__box-img
                        a(href="#")
                            img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                            div.bm-tab-cart__box-img_hover
                                a(href="#").bm-tab-cart__box-like
                                    img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                a(href="#").bm-tab-cart__box-like
                                    img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                a(href="#").bm-tab-cart__box-like
                                    img(src="img/svg/tab-category/search.svg", alt="Поиск")
                    div.bm-tab-cart__box-label
                        p.bm-tab-cart__box-label_title
                            a(href="#") Best Choice Products Furniture
                        p.bm-tab-cart__box-label_price $320.00
                        form.bm-tab-cart__add-cart(action="#")
                            button.bm-tab-cart__add-button Add to cart
                div.bm-featured__slide.swiper-slide
                    div.bm-tab-cart__box-img
                        a(href="#")
                            img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                            div.bm-tab-cart__box-img_hover
                                a(href="#").bm-tab-cart__box-like
                                    img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                a(href="#").bm-tab-cart__box-like
                                    img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                a(href="#").bm-tab-cart__box-like
                                    img(src="img/svg/tab-category/search.svg", alt="Поиск")
                    div.bm-tab-cart__box-label
                        p.bm-tab-cart__box-label_title
                            a(href="#") Best Choice Products Furniture
                        p.bm-tab-cart__box-label_price $320.00
                        form.bm-tab-cart__add-cart(action="#")
                            button.bm-tab-cart__add-button Add to cart
                div.bm-featured__slide.swiper-slide
                    div.bm-tab-cart__box-img
                        a(href="#")
                            img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                            div.bm-tab-cart__box-img_hover
                                a(href="#").bm-tab-cart__box-like
                                    img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                a(href="#").bm-tab-cart__box-like
                                    img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                a(href="#").bm-tab-cart__box-like
                                    img(src="img/svg/tab-category/search.svg", alt="Поиск")
                    div.bm-tab-cart__box-label
                        p.bm-tab-cart__box-label_title
                            a(href="#") Best Choice Products Furniture
                        p.bm-tab-cart__box-label_price $320.00
                        form.bm-tab-cart__add-cart(action="#")
                            button.bm-tab-cart__add-button Add to cart
                div.bm-featured__slide.swiper-slide
                    div.bm-tab-cart__box-img
                        a(href="#")
                            img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                            div.bm-tab-cart__box-img_hover
                                a(href="#").bm-tab-cart__box-like
                                    img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                a(href="#").bm-tab-cart__box-like
                                    img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                a(href="#").bm-tab-cart__box-like
                                    img(src="img/svg/tab-category/search.svg", alt="Поиск")
                    div.bm-tab-cart__box-label
                        p.bm-tab-cart__box-label_title
                            a(href="#") Best Choice Products Furniture
                        p.bm-tab-cart__box-label_price $320.00
                        form.bm-tab-cart__add-cart(action="#")
                            button.bm-tab-cart__add-button Add to cart
            div.bm-featured__button-prev.swiper-button-prev
            div.bm-featured__button-next.swiper-button-next
