section.bm-preview-product
    div.container
        div.wrapper
            div.bm-preview-product__wrapper.swiper-container.gallery-top
                div.bm-preview-product__top-slider.swiper-wrapper
                    div.bm-preview-product__top-slide.swiper-slide(style="background-image:url(img/preview/item-1.jpg); background-position:right; background-repeat: no-repeat; background-size: contain;")
                        div.bm-preview-product__top-time
                            div.bm-preview-product__top-day
                                span.bm-preview-product__top-day_number 263
                                span.bm-preview-product__top-day_text Days
                            div.bm-preview-product__top-hours
                                span.bm-preview-product__top-hours_number 6
                                span.bm-preview-product__top-hours_text Hours
                            div.bm-preview-product__top-minuts
                                span.bm-preview-product__top-minuts_number 20
                                span.bm-preview-product__top-minuts_text Mins
                            div.bm-preview-product__top-seconds
                                span.bm-preview-product__top-seconds_number 38
                                span.bm-preview-product__top-seconds_text Secs
                        div.bm-previews-product__top-info
                            div.bm-previews-product__top-info_new
                                span.bm-previews-product__top-info_new-text New
                            div.bm-preview-product__top-info_stocks
                                span.bm-preview-product__top-info_stocks-text -5%
                    div.bm-preview-product__top-slide.swiper-slide(style="background-image:url(img/preview/item-2.jpg); background-position:right; background-repeat: no-repeat; background-size: contain;")
                        div.bm-preview-product__top-time
                            div.bm-preview-product__top-day
                                span.bm-preview-product__top-day_number 263
                                span.bm-preview-product__top-day_text Days
                            div.bm-preview-product__top-hours
                                span.bm-preview-product__top-hours_number 6
                                span.bm-preview-product__top-hours_text Hours
                            div.bm-preview-product__top-minuts
                                span.bm-preview-product__top-minuts_number 20
                                span.bm-preview-product__top-minuts_text Mins
                            div.bm-preview-product__top-seconds
                                span.bm-preview-product__top-seconds_number 38
                                span.bm-preview-product__top-seconds_text Secs
                        div.bm-previews-product__top-info
                            div.bm-previews-product__top-info_new
                                span.bm-previews-product__top-info_new-text New
                            div.bm-preview-product__top-info_stocks
                                span.bm-preview-product__top-info_stocks-text -5%
                    div.bm-preview-product__top-slide.swiper-slide(style="background-image:url(img/preview/item-3.jpg); background-position:right; background-repeat: no-repeat; background-size: contain;")
                        div.bm-preview-product__top-time
                            div.bm-preview-product__top-day
                                span.bm-preview-product__top-day_number 263
                                span.bm-preview-product__top-day_text Days
                            div.bm-preview-product__top-hours
                                span.bm-preview-product__top-hours_number 6
                                span.bm-preview-product__top-hours_text Hours
                            div.bm-preview-product__top-minuts
                                span.bm-preview-product__top-minuts_number 20
                                span.bm-preview-product__top-minuts_text Mins
                            div.bm-preview-product__top-seconds
                                span.bm-preview-product__top-seconds_number 38
                                span.bm-preview-product__top-seconds_text Secs
                        div.bm-previews-product__top-info
                            div.bm-previews-product__top-info_new
                                span.bm-previews-product__top-info_new-text New
                            div.bm-preview-product__top-info_stocks
                                span.bm-preview-product__top-info_stocks-text -5%
            div.bm-preview-product__top-description
                    h2 Deals Of The Week
                    h3 
                        a(href="#") Recliner Chair Cup Holder
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore a lomdo aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip kotex commodon consequat. Duis aute irure dolor in esse cillum dolore eu fugiat nulla pariatur.
                    div.bm-preview-product__top-price
                        span.bm-preview-product__top-price_price $440.00
                        span.bm-preview-product__top-price_old-price $450.00
                    div.bm-preview-product__top-buttons
                        form(action="#")
                            button.bm-preview-product__top-buttons_btn Add to cart
                        div.bm-preview-product__top-buttons_actions
                            a(href="#").bm-preview-product__top-buttons_add
                                img(src="img/svg/preview/heart.svg", alt="Добавить в избранное")
                            a(href="#").bm-preview-product__top-buttons_refresh
                                img(src="img/svg/preview/refresh.svg", alt="Обновить информацию")
                            a(href="#").bm-preview-product__top-buttons_search
                                img(src="img/svg/preview/search.svg", alt="Поиск")
            div.bm-preview-product__button-prev.swiper-button-prev.swiper-button-white
            div.bm-preview-product__button-next.swiper-button-next.swiper-button-white
        div.bm-preview-product__bottom-wrapper.swiper-container.gallery-thumbs
            div.bm-preview-product__bottom-slider.swiper-wrapper
                div.bm-preview-product__bottom-slide.swiper-slide(style="background-image:url(img/preview/item-1.jpg); background-position:right; background-repeat: no-repeat; background-size: contain;")
                div.bm-preview-product__bottom-slide.swiper-slide(style="background-image:url(img/preview/item-2.jpg); background-position:right; background-repeat: no-repeat; background-size: contain;")
                div.bm-preview-product__bottom-slide.swiper-slide(style="background-image:url(img/preview/item-3.jpg); background-position:right; background-repeat: no-repeat; background-size: contain;")