section.bm-price
    div.container
        div.bm-price__description
            h1.bm-price__title Shop Deals
            p.bm-price__text 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                br
                | incididunt ut labore et dolore magna aliqua.
        div.bm-price__slider.swiper-container
            div.bm-price__slider-wrapper.swiper-wrapper
                div.bm-price__slide.swiper-slide
                    img(src="img/price/item-1.jpg", alt="Первая картинка слайдера")
                    a.bm-price__slide-stocks
                        p.bm-price__slide-text Decor & Gifts
                        p.bm-price__slide-stock 50% off
                div.bm-price__slide.swiper-slide
                    img(src="img/price/item-2.jpg", alt="Первая картинка слайдера")
                    a.bm-price__slide-stocks
                        p.bm-price__slide-text Decor & Gifts
                        p.bm-price__slide-stock 30% off
                div.bm-price__slide.swiper-slide
                    img(src="img/price/item-3.jpg", alt="Первая картинка слайдера")
                    a.bm-price__slide-stocks
                        p.bm-price__slide-text Decor & Gifts
                        p.bm-price__slide-stock 40% off
                div.bm-price__slide.swiper-slide
                    img(src="img/price/item-4.jpg", alt="Первая картинка слайдера")
                    a.bm-price__slide-stocks
                        p.bm-price__slide-text Decor & Gifts
                        p.bm-price__slide-stock 50% off
            div.bm-price__button-prev.swiper-button-prev
            div.bm-price__button-next.swiper-button-next
