section.bm-slider-category.swiper-container
    div.bm-slider-category__wrapper.swiper-wrapper
        div.bm-slider-category__slide.swiper-slide
            div.bm-slider-category__cart
                a(href="#")
                    img(src="img/slider-category/item-1.jpg", alt="")
            p.bm-slider-category__text
                a(href="#") Furniture & Decor
        div.bm-slider-category__slide.swiper-slide
            div.bm-slider-category__cart
                a(href="#")
                    img(src="img/slider-category/item-2.jpg", alt="")
            p.bm-slider-category__text
                a(href="#") Lamp & Lighting
        div.bm-slider-category__slide.swiper-slide
            div.bm-slider-category__cart
                a(href="#")
                    img(src="img/slider-category/item-3.jpg", alt="")
            p.bm-slider-category__text
                a(href="#") Sound & Life
        div.bm-slider-category__slide.swiper-slide
            div.bm-slider-category__cart
                a(href="#")
                    img(src="img/slider-category/item-4.jpg", alt="")
            p.bm-slider-category__text
                a(href="#") Appliances
        div.bm-slider-category__slide.swiper-slide
            div.bm-slider-category__cart
                a(href="#")
                    img(src="img/slider-category/item-5.jpg", alt="")
            p.bm-slider-category__text
                a(href="#") Sofa & chairs
        div.bm-slider-category__slide.swiper-slide
            div.bm-slider-category__cart
                a(href="#")
                    img(src="img/slider-category/item-6.jpg", alt="")
            p.bm-slider-category__text
                a(href="#") Sofa & chairs
    div.bm-slider-category__button-prev.swiper-button-prev
    div.bm-slider-category__button-next.swiper-button-next  