section.bm-tab-cart
    h2.bm-tab-cart__title Featured Products
    div.bm-tab-cart__select Living Room
    div.bm-tab-cart__header-tab(id="myTab")
        div.bm-tab-cart__header-tab_title 
            a(href="#slider1" id="slider1-tab" data-tab="1").bm-tab-cart__active.bm-js-tab-trigger Living Room
        div.bm-tab-cart__header-tab_title
            a(href="#slider2" id="slider2-tab" data-tab="2").bm-js-tab-trigger Chair
        div.bm-tab-cart__header-tab_title
            a(href="#slider3" id="slider3-tab" data-tab="3").bm-js-tab-trigger Sofa
        div.bm-tab-cart__header-tab_title
            a(href="#slider4" id="slider4-tab" data-tab="4").bm-js-tab-trigger Kitchen
        div.bm-tab-cart__header-tab_title
            a(href="#slider5" id="slider5-tab" data-tab="5").bm-js-tab-trigger Bathroom
        div.bm-tab-cart__header-tab_title
            a(href="#slider6" id="slider6-tab" data-tab="6").bm-js-tab-trigger Bathroom
    div.bm-tab-cart__content-tab(id="myTabContent")
        div.bm-tab-cart__content-tab_item.bm-tab-cart__active.js-tab-content(data-tab="1" id="slider1")
            div.bm-tab-cart__slider.swiper-container(id="slider1_1")
                div.bm-tab-cart__slider-wrapper.swiper-wrapper
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-3.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-4.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-5.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-6.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-7.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-8.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-9.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                div.bm-tab-cart__button-prev.swiper-button-prev
                div.bm-tab-cart__button-next.swiper-button-next
        div.bm-tab-cart__content-tab_item.js-tab-content(data-tab="2" id="slider2")
            div.bm-tab-cart__slider.swiper-container
                div.bm-tab-cart__slider-wrapper.swiper-wrapper
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-3.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-4.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-5.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-6.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-7.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-8.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-9.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                div.bm-tab-cart__button-prev.swiper-button-prev
                div.bm-tab-cart__button-next.swiper-button-next
        div.bm-tab-cart__content-tab_item.js-tab-content(data-tab="3" id="slider3")
            div.bm-tab-cart__slider.swiper-container
                div.bm-tab-cart__slider-wrapper.swiper-wrapper
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-3.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-4.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-5.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-6.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-7.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-8.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-9.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                div.bm-tab-cart__button-prev.swiper-button-prev
                div.bm-tab-cart__button-next.swiper-button-next
        div.bm-tab-cart__content-tab_item.js-tab-content(data-tab="4" id="slider4")
            div.bm-tab-cart__slider.swiper-container
                div.bm-tab-cart__slider-wrapper.swiper-wrapper
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-3.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-4.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-5.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-6.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-7.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-8.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-9.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                div.bm-tab-cart__button-prev.swiper-button-prev
                div.bm-tab-cart__button-next.swiper-button-next
        div.bm-tab-cart__content-tab_item.js-tab-content(data-tab="5" id="slider5")
            div.bm-tab-cart__slider.swiper-container
                div.bm-tab-cart__slider-wrapper.swiper-wrapper
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-3.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-4.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-5.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-6.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-7.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-8.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-9.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                div.bm-tab-cart__button-prev.swiper-button-prev
                div.bm-tab-cart__button-next.swiper-button-next
        div.bm-tab-cart__content-tab_item.js-tab-content(data-tab="6" id="slider6")
            div.bm-tab-cart__slider.swiper-container
                div.bm-tab-cart__slider-wrapper.swiper-wrapper
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-2.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-3.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-4.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-5.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-6.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-7.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-8.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                    div.bm-tab-cart__slider-slide.swiper-slide
                        div.bm-tab-cart__box-img
                            a(href="#")
                                img(src="img/tab-category/item-9.jpg", alt="Первая картинка")
                                div.bm-tab-cart__box-img_hover
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/heart.svg", alt="Добавить в избранное")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/refresh.svg", alt="Обновить")
                                    a(href="#").bm-tab-cart__box-like
                                        img(src="img/svg/tab-category/search.svg", alt="Поиск")
                        div.bm-tab-cart__box-label
                            p.bm-tab-cart__box-label_title
                                a(href="#") Best Choice Products Furniture
                            p.bm-tab-cart__box-label_price $320.00
                            form.bm-tab-cart__add-cart(action="#")
                                button.bm-tab-cart__add-button Add to cart
                div.bm-tab-cart__button-prev.swiper-button-prev
                div.bm-tab-cart__button-next.swiper-button-next

