//footer block top
a {
    text-decoration: none;
    color: inherit;
}

.bm-footer__services {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #000;
    color: #fff;
}

.bm-footer__services-list {
    list-style: none;
    display: flex;
    &--item {
        display: flex;
        align-items: center;
        width: 390px;
        &-text {
            margin-left: 20px;
        }
        &-text>* {
            margin: 5px 0;
        }
    }
}

//footer block middle
.bm-footer__services-midle {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    margin: auto;
}

.bm-footer__services-midle-contact-social-list {
    list-style: none;
    display: flex;
    padding: 0;
    color: #888;
    margin-top: 50px;
    &--item {
        margin-right: 35px;
    }
}

.bm-footer__services-midle-contact {
    width: 370px;
    padding: 0 15px;
    &--title {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
        color: #222;
        font-size: 18px;
    }
    &-list {
        list-style: none;
        padding: 0;
        &--item {
            margin-bottom: 18px;
            color: #888;
            font-size: 13px;
        }
        &--item em {
            margin-right: 10px;
        }
    }
}

.bm-footer__services-midle-services {
    width: 170px;
    padding: 0 15px;
    &--title {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
        color: #222;
        font-size: 18px;
    }
    &-list {
        padding: 0;
        list-style: none;
        &--item {
            margin-bottom: 18px;
            color: #888;
            font-size: 13px;
            transition: all 0.5s ease;
        }
        &--item:hover {
            color: #ed1c24;
            cursor: pointer;
            list-style: outside;
            transform: translateX(20px);
        }
    }
}

.bm-footer__services-midle-extras {
    width: 170px;
    padding: 0 15px;
    &--title {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
        color: #222;
        font-size: 18px;
    }
    &-list {
        padding: 0;
        list-style: none;
        &--item {
            margin-bottom: 18px;
            color: #888;
            font-size: 13px;
            transition: all 0.5s ease;
        }
        &--item:hover {
            color: #ed1c24;
            cursor: pointer;
            list-style: outside;
            transform: translateX(20px);
        }
    }
}

.bm-footer__services-midle-follow {
    width: 400px;
    padding: 0 0 0 15px;
    &--title {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
        color: #222;
        font-size: 18px;
    }
    &-images {
        display: flex;
        flex-wrap: wrap;
        &--item {
            width: 30%;
            padding: 5px;
        }
    }
}

.bm-footer__news {
    height: 51px;
    padding: 40px 0;
    border-top: 1px dashed #e5e5e5;
    border-bottom: 1px dashed #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bm-footer__news-subscribe {
    width: 570px;
    display: flex;
}

.bm-footer__news-subscribe--button {
    background-color: #333;
    border-radius: 4px;
    border: none;
    height: 44px;
    color: #fff;
    padding: 0 20px;
    font-size: 13px;
    cursor: pointer;
    margin-left: 5px;
}

.bm-footer__news-subscribe--input {
    height: 44px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    padding: 0 9px;
    width: 100%;
}

.bm-footer__news-subscribe--input::placeholder {
    color: #ccc;
}

.bm-footer__news-help p {
    margin: 5px 0;
    // margin: 0;
}

.bm-footer__news-help--title {
    font-size: 20px;
    color: #222;
}

.bm-footer__news-help--text {
    font-size: 14px;
    color: #888;
}

.bm-footer__bottom {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.bm-footer__bottom--coppyright {
    font-size: 13px;
    color: #888;
}

.bm-footer__services-midle-contact-social-list--item:hover > a::before {
    color: red;
}

@media (min-width: 1023px) and (max-width: 1439px) {
    .bm-footer__services-midle-contact--title {
        font-size: 17px;
    }
    .bm-footer__services-midle-services--title {
        font-size: 17px;
    }

    .bm-footer__services-midle-extras--title {
        font-size: 17px;
    }

    .bm-footer__services-midle-follow--title {
        font-size: 17px;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .bm-footer__services-midle {
        flex-wrap: wrap;
    }
    .bm-footer__services-midle-contact {
        width: 40%;
    }

    .bm-footer__services-midle-follow {
        width: 100%;
    }

    .bm-footer__news {
        height: auto;
        flex-direction: column;
    }

    .bm-footer__news-help {
        margin-bottom: 15px;
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    // footer {
    //     transform: translateY(-235px) !important;
    // }

    .bm-footer__services {
        height: auto;
        
    }

    .bm-footer__services-list {
        flex-direction: column;
        padding: 0;
    }

    .bm-footer__services-list--item {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }

    .bm-footer__img-1 {
        margin-left: 20px;
    }

    .bm-footer__img-3 {
        margin-left: 22px;
    }

    .bm-footer__services-midle {
        flex-direction: column;
    }

    .bm-footer__services-midle-contact {
        width: 100% !important;
    }

    .bm-footer__services-midle-services {
        width: 100% !important;
    }

    .bm-footer__services-midle-extras {
        width: 100% !important;
    }

    .bm-footer__services-midle-follow {
        width: 100% !important;
        padding: 0 0 15px;
    }

    .bm-footer__news {
        height: auto;
        flex-direction: column;
    }

    .bm-footer__news-subscribe {
        width: 301px;
        margin-top: 20px;
    }

    .bm-footer__bottom--payment > img {
        width: 100% !important;
    }
}