.bm-header {
    padding-top: 24px;
    padding-bottom: 24px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        &-img {

        }

        &-search {
            display: flex;
            align-items: center;
        }

        &-search > input[type="text"] {
            box-sizing: border-box;
            width: 551px;
            height: 40px;
            border: none;
            padding: 0 15px;
            background-color: #eeeeee;
            border-radius: 3px 0 0 3px;
            outline: none;
        }

        &-search > button {
            display: inline-block;
            position: relative;
            width: 85px;
            height: 40px;
            border: none;
            background: #333;
            border-radius: 0 3px 3px 0;
            cursor: pointer;
        }

        &-search > button:hover {
            background-color: #ed1c24;
        }

        &-search > button::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: calc(50% - 20px);
            width: 40px;
            height: 40px;
            background: url("../../img/svg/header/search.svg") no-repeat center;
        }

        &-user {
            display: flex;
            align-items: center;
        }

        &-auth {
            list-style-type: none;
            font-size: 13px;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
        }

        &-auth > li > a {
            text-decoration: none;
        }

        &-login {
            color: #222222;
            opacity: 0.6;
            cursor: pointer;
        }

        &-register {
            color: #222222;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            line-height: 1.66;
            cursor: pointer;
        }

        &-basket {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            position: relative;
        }

        &-basket::before {
            content: "";
            display: block;
            position: absolute;
            top: -4px;
            right: -40px;
            width: 40px;
            height: 40px;
            background: url("../../img/svg/header/cart.svg") no-repeat center;
            cursor: pointer;
        }

        &-cart {
            text-decoration: none;
            color: #222222;
            opacity: 0.6;
            cursor: pointer;
            font-size: 13px;
            font-weight: 400;
        }

        &-checkout {
            color: #222222;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            line-height: 1.66;
            cursor: pointer;
            text-decoration: none;
        }
        &-count {
            display: block;
            position: absolute;
            right: -45px;
            min-width: 20px;
            height: 20px;
            background-color: #ed1c24;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            line-height: 20px;
            cursor: pointer;
        }
    }
}

.bm-header__burger-mnu.fa.fa-bars {
    display: none;
}

.bm-header__burger-mnu::before {
    content: "\f0c9";
    font-size: 38px;
}

.bm-header__img-mobile {
    display: none;
}

.bm-header__content-search_mobile {
    display: none;
}

@media (min-width: 1023px) and (max-width: 1439px) {
    .bm-header__content-search > input[type="text"] {
        width: 319px;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .bm-header__content-img > a > img {
        display: none;
    }

    .bm-header__burger-mnu.fa.fa-bars {
        display: block;
        margin-right: 15px;
        margin-left: 30px;
    }

    .bm-header__content-search > input[type="text"] {
        width: 355px;
    }

    .bm-header__content {
        justify-content: start;
        padding-top: 15px;
    }

    .bm-header__content-search {
        margin-right: 15px;
        margin-left: 20px;
    }

    .bm-header__img-mobile {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #dbdbdb;
    }

    .bm-header__wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .container.container--mobile {
        width: 100% !important;
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-header__content-img > a > img {
        display: none;
    }

    .bm-header__burger-mnu.fa.fa-bars {
        display: block;
        margin-right: 15px;
        margin-left: -30px;
    }

    .bm-header__content-search {
        width: 355px;
        display: none;
    }

    .bm-header__content {
        justify-content: center;
        padding-top: 15px;
    }

    .bm-header__content-search {
        margin-right: 15px;
        margin-left: 20px;
    }

    .bm-header__img-mobile {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #dbdbdb;
        flex-direction: column;
    }

    .bm-header__wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .bm-header__content-search_mobile {
        display: block;
    }

    .bm-header__content-search_mobile {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    .bm-header__content-search_mobile > input[type="text"] {
        box-sizing: border-box;
        width: 200px;
        height: 40px;
        border: none;
        padding: 0 15px;
        background-color: #eeeeee;
        border-radius: 3px 0 0 3px;
        outline: none;
    }

    .bm-header__content-search_mobile > button {
        display: inline-block;
        position: relative;
        width: 85px;
        height: 40px;
        border: none;
        background: #333;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
    }

    .bm-header__content-search_mobile > button::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: calc(50% - 20px);
        width: 40px;
        height: 40px;
        background: url("../../img/svg/header/search.svg") no-repeat center;
    }
}