.bm-navigation {
    height: 73px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &__list {
        display: flex;
        height: 100%;
        // align-items: center;
        margin: 0;
        list-style-type: none;
        padding-left: 0;

        &_active {
            color: #ed1c24 !important;
        }
    }

    &__list > li {
        display: block;
        height: 100%;
    }

    &__list > li > a {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        color: #222222;
        cursor: pointer;
    }

    &__list > li > a:hover {
        color: #ed1c24;
    }

    &__support {
        position: relative;

        &-phone {
            margin: 0;
            color: #2d2d2d;
            font-weight: 700;
            line-height: 1.1;
            font-size: 13px;
        }

        &-phone > span {
            color: #ed1c24;
            font-weight: 700;
            line-height: 1.1;
            font-size: 15px;
        }

        &-email {
            margin: 0;
            font-weight: 700;
            color: #2d2d2d;
            font-size: 13px;
            line-height: 1.66;
        }

        &-email > span {
            color: #888888;
            font-weight: normal;
            font-size: 13px;
            line-height: 1.66;
        }
    }

    &__support::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -43px;
        width: 39px;
        height: 35px;
        background: url("../../img/menu/phone.png") no-repeat -13px -87px;
    }
}


@media (min-width: 767px) and (max-width: 1023px) {
    .bm-navigation {
        display: none;
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .bm-navigation {
        display: none;
    }
}