footer
    div.bm-footer__services
        div.container
            ul.bm-footer__services-list
                li.bm-footer__services-list--item 
                    img(src="img/sv-ft-1.png", alt="").bm-footer__img-1
                    div.bm-footer__services-list--item-text
                        p.bm-footer__services-list--item-text__title Free Shipping & Return
                        p.bm-footer__services-list--item-text__desc Free shipping on orders over $49
                li.bm-footer__services-list--item 
                    img(src="img/sv-ft-2.png", alt="")
                    div.bm-footer__services-list--item-text
                        p.bm-footer__services-list--item-text__title Money Guarantee
                        p.bm-footer__services-list--item-text__desc 30 days money back guarantee
                li.bm-footer__services-list--item 
                    img(src="img/sv-ft-3.png", alt="").bm-footer__img-3
                    div.bm-footer__services-list--item-text
                        p.bm-footer__services-list--item-text__title Online Support
                        p.bm-footer__services-list--item-text__desc We support online 24 hours a day
    div.container
        div.bm-footer__services-midle
            div.bm-footer__services-midle-contact
                p.bm-footer__services-midle-contact--title CONTACT US
                ul.bm-footer__services-midle-contact-list
                    li.bm-footer__services-midle-contact-list--item <em class="fa fa-home"></em>No 40 Baria Sreet 133/2 NewYork City, NY, United States
                    li.bm-footer__services-midle-contact-list--item <em class="fa fa-paper-plane"></em>support@example.com
                    li.bm-footer__services-midle-contact-list--item <em class="fa fa-phone"></em>(888) 1234 56789
                ul.bm-footer__services-midle-contact-social-list
                    li.bm-footer__services-midle-contact-social-list--item
                        a.fa.fa-facebook.icon-social(href="#")
                    li.bm-footer__services-midle-contact-social-list--item
                        a.fa.fa-twitter.icon-social(href="#")
                    li.bm-footer__services-midle-contact-social-list--item
                        a.fa.fa-google-plus.icon-social(href="#")
                    li.bm-footer__services-midle-contact-social-list--item
                        a.fa.fa-linkedin.icon-social(href="#")
                    li.bm-footer__services-midle-contact-social-list--item
                        a.fa.fa-pinterest.icon-social(href="#")
            div.bm-footer__services-midle-services
                p.bm-footer__services-midle-services--title OUR SERVICES
                ul.bm-footer__services-midle-services-list
                    li.bm-footer__services-midle-services-list--item
                        a(href="#") New York
                    li.bm-footer__services-midle-services-list--item
                        a(href="#") London SF
                    li.bm-footer__services-midle-services-list--item 
                        a(href="#") Cockfosters BP
                    li.bm-footer__services-midle-services-list--item
                        a(href="#") Los Angeles
                    li.bm-footer__services-midle-services-list--item
                        a(href="#") Chicago
            div.bm-footer__services-midle-extras
                p.bm-footer__services-midle-extras--title EXTRAS
                ul.bm-footer__services-midle-extras-list
                    li.bm-footer__services-midle-extras-list--item
                        a(href="#") About Store
                    li.bm-footer__services-midle-extras-list--item
                        a(href="#") New Collection
                    li.bm-footer__services-midle-extras-list--item
                        a(href="#") Contact Us
                    li.bm-footer__services-midle-extras-list--item
                        a(href="#") Latest News
                    li.bm-footer__services-midle-extras-list--item
                        a(href="#") Our Sitemap
            div.bm-footer__services-midle-follow
                p.bm-footer__services-midle-follow--title FOLLOW INSTAGRAMS
                div.bm-footer__services-midle-follow-images
                    img.bm-footer__services-midle-follow-images--item(src="img/footer/instagram1.jpg", alt="")
                    img.bm-footer__services-midle-follow-images--item(src="img/footer/instagram2.jpg", alt="")
                    img.bm-footer__services-midle-follow-images--item(src="img/footer/instagram3.jpg", alt="")
                    img.bm-footer__services-midle-follow-images--item(src="img/footer/instagram4.jpg", alt="")
                    img.bm-footer__services-midle-follow-images--item(src="img/footer/instagram5.jpg", alt="")
                    img.bm-footer__services-midle-follow-images--item(src="img/footer/instagram6.jpg", alt="")
        div.bm-footer__news
            div.bm-footer__news-help
                p.bm-footer__news-help--title Need Help? Call Our Award-Warning
                p.bm-footer__news-help--text Support Team 24/7 At (844) 555-8386
            form.bm-footer__news-subscribe
                input.bm-footer__news-subscribe--input(type="text" placeholder="Enter your email address") 
                button.bm-footer__news-subscribe--button(type="submit") SUBSCRIBE
        div.bm-footer__bottom
            div.bm-footer__bottom--payment
                img(src="img/footer/payment.png", alt="")
            p.bm-footer__bottom--coppyright Copyright © 2013-2018 Magento, Inc. All rights reserved.

        

                    


