header.bm-header
    div.container.container--mobile
        div.bm-header__wrapper
            div.bm-header__content
                div.bm-header__content-img
                    a(href="#")
                        img(src="img/svg/header/logo.svg", alt="Логотип компании")
                div.bm-header__burger-mnu.fa.fa-bars
                div.bm-header__content-search
                    input(type="text")
                    button
                div.bm-header__content-user
                    ul.bm-header__content-auth
                        li 
                            a(href="#" class="bm-header__content-login") Login
                        li
                            a(href="#" class="bm-header__content-register") Register
                    div.bm-header__content-basket
                        a(href="#" class="bm-header__content-cart") My Cart
                        a(href="#" class="bm-header__content-checkout") Checkout
                        span.bm-header__content-count 0
            div.bm-header__img-mobile
                a(href="#")
                        img(src="img/svg/header/logo.svg", alt="Логотип компании")
                div.bm-header__content-search_mobile
                    input(type="text")
                    button