nav.bm-navigation
    div.container
        div.bm-navigation__wrapper
            ul.bm-navigation__list
                li
                    a(href="index.html" class="bm-navigation__list_active") Home
                li
                    a(href="#") Features
                li
                   a(href="shop.html") Shop
                li
                   a(href="#") Collection
                li 
                   a(href="blog.html") Blog
                li 
                   a(href="about.html") About Us
                li 
                   a(href="#") Contact Us
            div.bm-navigation__support
                p.bm-navigation__support-phone Call Us Now: 
                    span 0123-444-666
                p.bm-navigation__support-email Email: 
                    span support@example.com