div.container
    include ../shop-page/bred.pug
    div.flex.bm-mobile-flex-shop
        div.bm-left-content-blog
            include ../blog-page/title.pug
            include content.pug
        div.bm-right-content-blog
            include ../blog-page/search.pug
            include ../blog-page/categories.pug
            include ../blog-page/recentPost.pug
            include ../blog-page/archive.pug