div.bm-post
    div.bm-post__info
        div.bm-post__info-categories
            span.bm-post__info-text Categories:
            span.bm-post__info-text
                a(href="#") News,
            span.bm-post__info-text
                a(href="#") Relax,
            span.bm-post__info-text
                a(href="#") Fashion
        div.bm-publication-item__share-social
            a(href="#").bm-publication-item__share-facebook
            a(href="#").bm-publication-item__share-twitter
            a(href="#").bm-publication-item__share-mail
            a(href="#").bm-publication-item__share-more
    div.bm-post__content
        div.bm-post__content-img
            img(src="img/blog-page/post-2.jpg", alt="Картинка поста")
        div.bm-post__content-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do perspciats omnis iste natuseimod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qunostrud exercitation ullamco laboris nisi utim aliquip sex ea commodo consequat...
                                        | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                                        | 1914 translation by H. Rackham
                                        | "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
                                        | Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                                        | "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
    div.bm-post__navigation
        a.bm-post__navigation-prev &#8592; Previous
        a.bm-post__navigation-next Next &#8594;
    div.bm-post__comments
        div.bm-post__comments-title
            div.bm-post__comments-count
                span.bm-post__comments-number 0 
                span.bm-post__comments-text Comments
            div.bm-post__comments-sort
                span.bm-post__comments-decr Sort By: 
                select.bm-post__comments-select
                    option(value="newest") Newest
                    option(value="oldset") Oldset
    div.bm-post__comments-chat
        div.bm-post__comments-img
            a(href="#")
                img(src="img/post-page/odA9sNLrE86.jpg", alt="Аватар")
        textarea
