.container {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
}

.flex {
    display: flex;
}

@media (min-width: 1023px) and (max-width: 1439px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .container {
        width: 100%;
    }
}